.header-principal {
  padding: 9px 10px;
  
  .header_menu {
    color: #ffffff;
    font-size: 28px;
    vertical-align: middle;
    cursor: pointer;
  }

  .header_acciones {
    text-align: right;

    & i {
      font-size: 28px;
      color: #ffffff;
      margin-left: 18px;
      cursor: pointer;
    }
  }

  .header_titulo {
    font-size: 24px;
    color: #ffffff;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    vertical-align: middle;
    font-weight: bold;

    & a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}