<div class="header-principal row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <i class="bi bi-list header_menu" (click)="onClickMenu.emit()"></i>
    <h1 class="header_titulo">
      <a href="../inicio/inicio.html">Inicio</a>
    </h1>
    
    <bodoquin-header-buscador></bodoquin-header-buscador>
    
  </div>
  
  <div class="header_acciones col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <!-- CARRITO -->
    <span class="header_acciones_carrito">
      <i class="bi bi-cart-check" onclick="mostrarOcultarPopup('.popup_carrito');"></i>
      <div class="header_notificacion header_notificacion-principal">0</div>   
      
      <div class="popup popup_carrito">
        <div class="popup_backdrop" onclick="mostrarOcultarPopup('.popup_carrito');"></div>
        <div class="popup_flecha"></div>
        <div class="popup_contenedor">
          <div class="popup_header">
            Tienes agregados <b>0</b> productos
          </div>
          <div class="popup_body">
            <div class="carrito_productos">  
            
            </div>
              
            <div class="carrito_total">
              <span>Sub Total:</span>
              <span class="carrito_total_monto">S/. 0</span>
            </div>  
          </div>
          <div class="popup_footer">
            <button class="btn btn-primary"><a href="../carrito/carrito.html">Continuar</a></button>
          </div>
        </div>
      </div>
    </span>
    <!-- FIN CARRITO -->
    
    <span class="header_acciones_usuario">              
      <i class="bi bi-person-fill" onclick="mostrarOcultarUsuarioPopup();"></i>
      <div class="header_acciones_usuario_backdrop" onclick="mostrarOcultarUsuarioPopup();"></div>            
      <div class="header_acciones_usuario_flecha"></div>            
      <div class="header_acciones_usuario_popup">
        <ul>
          <li onClick="mostrarOcultarModalInicioSesion(); mostrarOcultarUsuarioPopup();">
            <i class="bi bi-arrow-bar-right"></i>
            <span>Iniciar sesion</span>
          </li>
          
          <li onClick="mostrarOcultarModalRegistrarse(); mostrarOcultarUsuarioPopup();">
            <i class="bi bi-person"></i>
            <span>Registrarse</span>
          </li>
          
          <li>
            <i class="bi bi-basket"></i>
            <span>Mis pedidos</span>
          </li>
        
          <li onClick="mostrarOcultarModalCerrarSesion(); mostrarOcultarUsuarioPopup();">
            <i class="bi bi-arrow-bar-left"></i>
            <span>Cerrar sesion</span>
          </li>
        </ul>
      </div>
    </span>
    
    <div class="modal modal_inicio_sesion">
      <div class="modal_backdrop" onclick="mostrarOcultarModalInicioSesion()"></div>
      <div class="modal_contenedor modal-sm">
        <div class="modal_header">
          <h1>Iniciar sesión</h1>
          <i class="bi bi-x" onclick="mostrarOcultarModalInicioSesion()"></i>
        </div>
        <div class="modal_body">
          <form>
            <div class="form-group">
              <label class="form-label">Correo electrónico:</label>
              <input type="text" class="form-control" />
            </div>

            <div class="form-group">
              <label class="form-label">Contraseña:</label>
              <input type="text" class="form-control" />
            </div>      
          </form>
        </div>
        <div class="modal_footer">
          <button class="btn btn-primary">Ingresar</button>
        </div>
      </div>
    </div>
    
    <div class="modal modal_registrarse">
      <div class="modal_backdrop" onclick="mostrarOcultarModalRegistrarse()"></div>
      <div class="modal_contenedor modal-sm">
        <div class="modal_header">
          <h1>Registrarse</h1>
          <i class="bi bi-x" onclick="mostrarOcultarModalRegistrarse()"></i>
        </div>
        <div class="modal_body">
          <form>
            <div class="form-group">
              <label class="form-label">Nombre usuario:</label>
              <input type="text" class="form-control" />
            </div>
            
            <div class="form-group">
              <label class="form-label">Correo electrónico:</label>
              <input type="text" class="form-control" />
            </div>

            <div class="form-group">
              <label class="form-label">Contraseña:</label>
              <input type="text" class="form-control" />
            </div> 
          </form>     
        </div>
        <div class="modal_footer">
          <button class="btn btn-primary">Ingresar</button>                
        </div>
      </div>
    </div>
    
    <div class="modal modal_confirmacion modal_cerrar_sesion">
      <div class="modal_backdrop" onclick="mostrarOcultarModalCerrarSesion()"></div>
      <div class="modal_contenedor modal-sm">
        <div class="modal_header">
          <h1>Cerrar Sesión</h1>
          <i class="bi bi-x" onclick="mostrarOcultarModalCerrarSesion()"></i>
        </div>
        <div class="modal_body">
          <p class="texto-centrado">
            ¿Está seguro que desea<br>
            cerrar sesión?
          </p>
        </div>
        <div class="modal_footer">
          <button class="btn btn-primary">Aceptar</button>
          <button class="btn btn-light">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>