<div class="header-principal row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <i class="bi bi-list header_menu" (click)="onClickMenu.emit()"></i>
    <h1 class="header_titulo">
      <a href="../inicio/inicio.html">Inicio</a>
    </h1>
    
    <bodoquin-header-buscador></bodoquin-header-buscador>
    
  </div>
  
  <div class="header_acciones col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <bodoquin-header-carrito></bodoquin-header-carrito>
    <span class="header_acciones_carrito">
      <i class="bi bi-cart-check" onclick="mostrarOcultarPopup('.popup_carrito');"></i>
      <div class="header_notificacion header_notificacion-principal">0</div>   
      
      <div class="popup popup_carrito">
        <div class="popup_backdrop" onclick="mostrarOcultarPopup('.popup_carrito');"></div>
        <div class="popup_flecha"></div>
        <div class="popup_contenedor">
          <div class="popup_header">
            Tienes agregados <b>0</b> productos
          </div>
          <div class="popup_body">
            <div class="carrito_productos">  
            
            </div>
              
            <div class="carrito_total">
              <span>Sub Total:</span>
              <span class="carrito_total_monto">S/. 0</span>
            </div>  
          </div>
          <div class="popup_footer">
            <button class="btn btn-primary"><a href="../carrito/carrito.html">Continuar</a></button>
          </div>
        </div>
      </div>
    </span>
    <!-- FIN CARRITO -->
    <bodoquin-header-usuario></bodoquin-header-usuario>
  </div>
</div>