.header-principal {
  padding: 9px 10px;
  
  .header_menu {
    color: #ffffff;
    font-size: 28px;
    vertical-align: middle;
    cursor: pointer;
  }

  .header_acciones {
    text-align: right;

    & i {
      font-size: 28px;
      color: #ffffff;
      margin-left: 18px;
      cursor: pointer;
    }
  }

  .header_titulo {
    font-size: 24px;
    color: #ffffff;
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    vertical-align: middle;
    font-weight: bold;

    & a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  .header_notificacion {
    width: 20px;
    height: 20px;
    background-color: #FF0000;
    color: #ffffff;
    text-align: center;
    padding-top: 0px;
    border-radius: 50%;
    font-size: 16px;

    &-principal {
      position: absolute;
      top: -32px;
      right: -7px;
    }
  }


  /********** POPUP ******************/
  .popup {
    display: none;
    font-size: 16px;
  }

  .popup .popup_backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0000003b;
  }

  .popup .popup_flecha {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    transform: rotate(46deg);
    position: absolute;
    right: 6px;
    top: 17px;
    z-index: 1;
  }

  .popup .popup_contenedor {
    min-height: 50px;
    background-color: #ffffff;
    position: absolute;
    right: -15px;
    border-radius: 6px;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 5px #cccccc;
    top: 23px;
    text-align: initial;
  }

  .popup .popup_contenedor .popup_header {
    width: 100%;
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ECECEC;
    box-shadow: 0px 4px 4px rgb(204 204 204 / 25%);
  }

  .popup .popup_contenedor .popup_body {
    min-height: 100px;
    min-width: 260px;
  }

  .popup .popup_contenedor .popup_footer {
    padding: 10px;
    border-top: 1px solid #ececec;
  }
  /***********************************/
}