<div class="header-carrito">
  <i #carritoIcono class="bi bi-cart-check" (click)="mostrarPopupCarrito()"></i>
  <bodoquin-chip>{{ cantidadUnidades }}</bodoquin-chip>

  <bodoquin-popup
    [elemento]="carritoIcono"
    [(showPopup)]="showPopup"
    [templateHeader]="templateCarritoHeader"
    [templateBody]="templateCarritoBody"
    [templateFooter]="templateCarritoFooter"
  ></bodoquin-popup>
  
  <ng-template #templateCarritoHeader>
    <div class="carrito_header" (click)="agregarProducto()">
      Tienes agregados <b>{{ cantidadUnidades }}</b> productos
    </div>
  </ng-template>
  
  <ng-template #templateCarritoBody>
    <div class="carrito_body">
      <div class="carrito_productos">  
        <div *ngFor="let producto of productos; let indexProducto = index" class="carrito_producto">
          <div class="carrito_producto_img">
            <img src="../../../assets/img/{{ producto.nombreImg }}">
          </div>
          <div class="carrito_producto_detalle">
            <h2>{{ producto.nombreCategoria }}</h2>
            <h1>{{ producto.nombreProducto }}</h1>
            <span class="carrito_producto_total">S/. {{ producto.precioProducto }}</span>
            
            <div class="carrito_producto_contador">
              <div class="carrito_producto_contador_agrega">
                <span><i class="bi bi-dash-lg" (click)="removeItemInProduct(producto)"></i></span>
                <span><i class="bi bi-plus-lg" (click)="addItemInProduct(producto)"></i></span>
              </div>
              <div class="carrito_producto_contador_cantidad">{{ producto.cantidadProducto }}</div>
            </div>
          </div>
          <i class="bi bi-x icono-accion" (click)="deleteProduct(indexProducto)"></i>
        </div> 
      </div>
        
      <div class="carrito_total">
        <span>Sub Total:</span>
        <span class="carrito_total_monto">S/. {{ montoTotal }}</span>
      </div>  
    </div>
  </ng-template>
  
  <ng-template #templateCarritoFooter>
    <div class="carrito_footer">
      <button class="btn btn-primary"><a href="../carrito/carrito.html">Continuar</a></button>
    </div>
  </ng-template>
  
</div>