<div class="header-carrito">
  <i #carritoIcono class="bi bi-cart-check" (click)="mostrarPopupCarrito()"></i>
  <!-- <div class="header_notificacion header_notificacion-principal">0</div>   -->

  <bodoquin-chip>
    0
  </bodoquin-chip>

  <bodoquin-popup
    [elemento]="carritoIcono"
    [(showPopup)]="showPopup"
    [templateHeader]="templateCarritoHeader"
    [templateBody]="templateCarritoBody"
    [templateFooter]="templateCarritoFooter"
  ></bodoquin-popup>
  
  <ng-template #templateCarritoHeader>
    <div class="carrito_header">
      Tienes agregados <b>0</b> productos
    </div>
  </ng-template>
  
  <ng-template #templateCarritoBody>
    <div class="carrito_body">
      <div class="carrito_productos">  
      
      </div>
        
      <div class="carrito_total">
        <span>Sub Total:</span>
        <span class="carrito_total_monto">S/. 0</span>
      </div>  
    </div>
  </ng-template>
  
  <ng-template #templateCarritoFooter>
    <div class="carrito_footer">
      <button class="btn btn-primary"><a href="../carrito/carrito.html">Continuar</a></button>
    </div>
  </ng-template>
  
</div>