<footer>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Correo</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>Pepito 1</td>
        <td>Carlitos 1</td>
        <td>1234</td>
        <td>email.com</td>
      </tr>
      <tr>
        <td>Pepito 2</td>
        <td>Carlitos 2</td>
        <td>2345</td>
        <td>email.com</td>
      </tr>
      <tr>
        <td>Pepito 3</td>
        <td>Carlitos 3</td>
        <td>4567</td>
        <td>email.com</td>
      </tr>
    </tbody>
  </table>
</footer>