body {
  margin: 0;
}

@font-face {
  font-family: roboto;
  src: url(../../../assets/fonts/Roboto/Roboto-Light.ttf);
}

* {
  font-family: roboto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #80a3ea;
  z-index: 2;
  padding: 10px;
  height: 42px;
}

main {
  margin-top: 102px;
  padding-top: 10px;
}

.header_menu {
  color: #ffffff;
  font-size: 28px;
  vertical-align: middle;
}

.header_titulo {
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  vertical-align: middle;
}

.header_acciones_notificacion {
  position: relative;
}

.header_notificacion {
  width: 20px;
  height: 20px;
  background-color: #FF0000;
  color: #ffffff;
  text-align: center;
  padding-top: 0px;
  border-radius: 50%;
}

.header_notificacion-principal {
  position: absolute;
  top: -15px;
  right: -3px;
}

.header_busqueda {
  position: relative;
}

.header_busqueda input {
  width: 300px;
  height: 38px;
  border: none;
  outline: none;
  padding-left: 35px;
  border-radius: 20px;
}

.header_busqueda i {
  position: absolute;
  left: 10px;
  top: 0px;
}

.header_acciones {
  float: right;
  width: 120px;
  padding-top: 5px;
}

.header_acciones i {
  font-size: 28px;
  color: #ffffff;
  margin-left: 18px;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 62px;
  width: 270px;
  height: 100%;
  background-color: #F0F5FF;
  z-index: 2;
  box-shadow: 3px 1px 6px 0px #cccccc;
  /* display: none;   */
}

nav h2 {
  font-size: 18px;
  background-color: #FFF1F1;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #FF0000;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  padding: 20px 35px;
  border-bottom: 1px solid #80A3EA;
  cursor: pointer;
}

nav ul li i {
  font-size: 20px;
}

nav ul li.nav_menu--seleccionado {
  font-weight: bold;
  color: #264fa0;
  background-color: #dee6f5;
}

nav ul li span {
  float: right;
  margin-top: 4px;
  display: none;
}

nav ul li.nav_menu--seleccionado span {
  display: initial;
}

.tarjeta {
  border: 1px solid #ccc;
  box-shadow: 3px 4px #ccc;  
  background-color: #9098b514;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.tarjeta h1 {
  color: #e32d8b;
}

.tarjeta h3 {
  color: blue;
  font-size: 20px;
}

.tarjeta h3 span:hover {
  background-color: red;
}

.tarjeta h1 span {
  position: relative;
}

.tarjeta .tarjeta_producto {
  color: green;
}

.tarjeta:first-child .tarjeta_producto {
  font-size: 20px;
}

.tarjeta:nth-child(2) .tarjeta_producto {
  font-style: oblique;
}

.tarjeta_burbuja {
  position: absolute;
  top: -9px;
  right: -19px;
  font-size: 17px;
}

input:disabled {
  border: 1px solid red;
}

table {
  width: 100%;
}

table td {
  width: 50%;
}

table td img {
  width: 100%;
}
