body {
  margin: 0;
}

@font-face {
  font-family: roboto;
  src: url(../../../assets/fonts/Roboto/Roboto-Light.ttf);
}

* {
  font-family: roboto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #a55928;
  z-index: 2;
}

main {
  margin-top: 138px;
  padding: 0 15px;
}

@media (max-width: 970px) {
  main {
    margin-top: 171px;
  }
}

@media (max-width: 502px) {
  main {
    margin-top: 210px;
  }
}

body.con-scroll main {
  padding-top: 0px;
}

/************** CHAT *****************/
.chat {
  
}

.chat .chat_popup {
  width: 250px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #ffffff;
  z-index: 2;
  border: 1px solid #cccccc;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  border-radius: 8px;
  opacity: 0;
  transform-origin: bottom right;
  height: 0;
}

.chat .chat_popup.chat_popup_in {
  animation-name: chat_popup_animacion_in;
  opacity: 1;
  animation-duration: 300ms;
}

.chat .chat_popup.chat_popup_out {
  animation-name: chat_popup_animacion_out;
  opacity: 0;
  animation-duration: 300ms;
}

@keyframes chat_popup_animacion_in {
  0% { 
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  100% { 
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes chat_popup_animacion_out {
  0% { 
    opacity: 1;
    transform: scale(1);
  }
  100% { 
    opacity: 0;
    transform: scale(0);
  }
}

.chat .chat_backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}

.chat .chat_popup .chat_popup_header {
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.chat .chat_popup .chat_popup_header h1 {
  margin: 0;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  line-height: 15px;
}

.chat .chat_popup .chat_popup_header h1 small {
  color: #969595;
  font-size: 14px;
}

.chat .chat_popup .chat_popup_header .chat_cerrar {
  position: absolute;
  right: 5px;
  font-size: 25px;
  cursor: pointer;
}

.chat .chat_popup .chat_popup_header .chat_logo {
  font-size: 35px;
  vertical-align: middle;
  color: #696ce6;
}

.chat .chat_popup .chat_popup_body {
  height: 300px;
  width: 100%;
}

.chat .chat_popup .chat_popup_footer {
  padding: 10px;
  width: 100%;
  border-top: 1px solid #cccccc;
}

.chat .chat_popup .chat_popup_footer input {
  height: 30px;
  width: 187px;
  border: 1px solid #cccccc;
  padding-left: 10px;
  vertical-align: middle;
  border-radius: 15px;
}

.chat .chat_popup .chat_popup_footer i {
  font-size: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.chat .chat_fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 12px 28px rgb(0 0 0 / 20%);
  transition: transform 300ms;
}

.chat .chat_fab.chat_fab_in {
  transform: rotateX(196deg);
}

.chat .chat_fab i {
  font-size: 43px;
  color: #8a8df6;
  cursor: pointer;
  position: relative;
  top: -9px;
}

.chat .chat_fab i:hover {
  color: #696ce6;
}
/*************************************/

.header_principal {
  padding: 9px 10px;
}

.header_secundario {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0px 2px 5px 0px #cccccc;
  padding: 10px 0;
  text-align: center;
}

body.con-scroll .header_secundario {
  display: none;
}

.header_secundario .header_menu_secundario {
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  line-height: 24px;
}

.header_secundario .header_menu_secundario:hover {
  background-color: #f7f7f7;
  border-radius: 8px;
}

.header_secundario .header_menu_secundario a {
  text-decoration: none;
  color: #000000;
}

.header_secundario .header_menu_secundario i {
  font-size: 25px;
}

.header_menu_secundario--seleccionado {
  border-bottom: 3px solid #80a3ea;
}

.header_menu {
  color: #ffffff;
  font-size: 28px;
  vertical-align: middle;
  cursor: pointer;
}

.header_titulo {
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: bold;
}

.header_titulo a {
  text-decoration: none;
  color: #ffffff;
}

/************ CARRITO ***********/
.header_acciones_carrito {
  position: relative;
  font-size: 0;
}

.popup_carrito .popup_body {
  height: 350px;
  width: 300px;
}

.popup_carrito .carrito_productos {
  padding: 10px;
  height: calc(350px - 41px);
  overflow-y: auto;
}

.popup_carrito .carrito_productos .carrito_producto {
  width: 100%;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  position: relative;
}

.popup_carrito .carrito_productos .carrito_producto .carrito_producto_img {
  width: 75px;
  display: inline-block;
  padding: 14px 8px;
  height: calc(100% - 28px);
  vertical-align: top;
}

.popup_carrito .carrito_productos .carrito_producto .carrito_producto_img img {
  width: 100%;
}

.popup_carrito .carrito_productos .carrito_producto .carrito_producto_detalle {
  width: calc(100% - 80px);
  display: inline-block;
  padding-top: 14px;
  vertical-align: top;
  padding-bottom: 14px;
}

.popup_carrito .carrito_productos .carrito_producto .carrito_producto_detalle h2 {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}

.popup_carrito .carrito_productos .carrito_producto .carrito_producto_detalle h1 {
  margin-top: 0px;
  font-size: 18px;
  margin-bottom: 2px;
  font-weight: bold;
}

.popup_carrito .carrito_productos .carrito_producto .carrito_producto_total {
  font-size: 20px;
}

.popup_carrito .carrito_productos .carrito_producto .carrito_producto_contador {
  text-align: right;
  padding-right: 12px;
  margin-top: 10px;
}

.popup_carrito .carrito_productos .carrito_producto .carrito_producto_contador .carrito_producto_contador_agrega {
  background: #ECECEC;
  border-radius: 10px;
  width: 100px;
  padding: 3px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  user-select: none;
}

.popup_carrito .carrito_productos .carrito_producto .carrito_producto_contador .carrito_producto_contador_agrega span:nth-child(1) {
  border-right: 1px solid #cccccc;
  width: calc(50% - 5px);
  display: inline-block;
  text-align: center;
}

.popup_carrito .carrito_productos .carrito_producto .carrito_producto_contador .carrito_producto_contador_agrega span:nth-child(2) {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.popup_carrito .carrito_productos .carrito_producto .carrito_producto_contador .carrito_producto_contador_agrega i {
  font-size: 20px;
  color: #000000;
  margin: 0;
  user-select: none;
}

.popup_carrito .carrito_productos .carrito_producto .carrito_producto_contador .carrito_producto_contador_cantidad {
  padding: 0px 11px;
  display: inline-block;
  vertical-align: middle;
  background: #80A3EA;
  border-radius: 10px;
  color: #ffffff;
  font-size: 24px;
}

.popup_carrito .carrito_productos .carrito_producto .bi-x {
  position: absolute;
  top: 0;
  right: 1px;
  margin: 0;
  color: #000000;
}

.popup_carrito .carrito_total {
  padding: 8px 17px;
  border-top: 1px solid #ECECEC;
  text-align: right;
}

.popup_carrito .carrito_total .carrito_total_monto {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

/********************************/

.header_notificacion {
  width: 20px;
  height: 20px;
  background-color: #FF0000;
  color: #ffffff;
  text-align: center;
  padding-top: 0px;
  border-radius: 50%;
  font-size: 16px;
}

.header_notificacion-principal {
  position: absolute;
  top: -32px;
  right: -7px;
}

.header_busqueda {
  position: relative;
}

.header_busqueda input {
  width: 300px;
  height: 38px;
  border: none;
  outline: none;
  padding-left: 35px;
  border-radius: 20px;
}

.header_busqueda i {
  position: absolute;
  left: 10px;
  top: 0px;
}

.header_acciones {
  text-align: right;
}

.header_acciones i {
  font-size: 28px;
  color: #ffffff;
  margin-left: 18px;
  cursor: pointer;
}

.header_acciones .header_acciones_usuario {
  position: relative;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0000003b;
  display: none;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_flecha {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  transform: rotate(46deg);
  position: absolute;
  right: 6px;
  top: 29px;
  z-index: 1;
  display: none;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup {
  width: 260px;
  min-height: 50px;
  background-color: #ffffff;
  position: absolute;
  right: -15px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  top: 35px;
  display: none;
  text-align: initial;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup ul {
  padding-left: 20px;
  padding-right: 20px;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup ul li {
  list-style-type: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #cccccc;
  cursor: pointer;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup ul li i {
  color: #000000;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup ul li span {
 vertical-align: middle;
}

.header_acciones .modal_inicio_sesion {
  display: none;
}

.header_acciones .modal_registrarse {
  display: none;
}

.header_acciones .modal_cerrar_sesion {
  display: none;
}

/*******MENU NAVEGACION******/

nav {
}

nav .nav_backdrop {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000026;
  z-index: 2;
  display: none; 
}

nav .nav_menu {
  position: fixed;
  top: 60px;
  width: 270px;
  height: 100%;
  background-color: #F0F5FF;
  z-index: 2;
  box-shadow: 3px 1px 6px 0px #cccccc;
  transition: transform 0.5s;
}
  

nav .nav_menu.colapsado {
  transform: translateX(-275px);
}
  
nav .nav_menu h2 {
  font-size: 18px;
  background-color: #FFF1F1;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #FF0000;
  font-weight: bold;
}

nav .nav_menu ul {
  padding: 0;
  margin: 0;
}

nav .nav_menu ul li {
  list-style-type: none;
  padding: 20px 35px;
  border-bottom: 1px solid #80A3EA;
  cursor: pointer;
}

nav .nav_menu ul li a {
  text-decoration: none;
  color: #000000;
}

nav .nav_menu ul li i {
  font-size: 20px;
}

nav .nav_menu ul li.nav_menu--seleccionado {  
  background-color: #dee6f5;
}

nav .nav_menu ul li.nav_menu--seleccionado a {
  font-weight: bold;
  color: #264fa0;
}

nav .nav_menu ul li span {
  float: right;
  margin-top: 4px;
  display: none;
}

nav .nav_menu ul li.nav_menu--seleccionado span {
  display: initial;
}

/*******************************************/

.tarjetas {
  padding: 15px 0;
  background-color: #eee4ddeb;
}

.tarjetas .tarjeta2 {
  border: 1px solid #dddcdc;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #ffffff;
  width: 100%; 
}

.tarjetas .tarjeta2:hover {
  box-shadow: 1px 1px 5px #cccccc;
}

.tarjetas .tarjeta2 .tarjeta2_header {
  padding: 15px 30px;
  text-align: center;
}

.tarjetas .tarjeta2 .tarjeta2_header img {
  width: 100%;
  height: 180px;
  max-width: 255px;
}

.tarjetas .tarjeta2 .tarjeta2_body {
  padding: 0 15px;
}

.tarjetas .tarjeta2 .tarjeta2_body p {
  margin-left: 15px;
  height: 70px;
  margin-bottom: 10px;
}

.tarjetas .tarjeta2 .tarjeta2_body .tarjeta2_body_precio {
  color: #FF0000;
  font-weight: bold;
  font-size: 24px;
}

.tarjetas .tarjeta2 .tarjeta2_footer {
  padding: 15px;
}

.tarjetas .tarjeta2 .tarjeta2_footer button {
  background-color: #ffffff;
  border: 1px solid #80A3EA;
  width: 100%;
  height: 35px;
  color: #80A3EA;
  font-weight: bold;
  cursor: pointer;
}

.tarjetas .tarjeta2:hover .tarjeta2_footer button {
  background-color: #80A3EA;
  color: #ffffff;
}

.tarjetas .tarjeta2_footer .tarjeta2_contador {
  border: 1px solid #cccccc;
  border-radius: 23px;
  user-select: none;
}

.tarjetas .tarjeta2_footer .tarjeta2_contador .tarjeta2_contador_agregar {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #80A3EA;
  text-align: center;
  color: #80A3EA;
  user-select: none;
}

.tarjetas .tarjeta2_footer .tarjeta2_contador .tarjeta2_contador_agregar:hover {
  background-color: #80A3EA;
  color: #ffffff;
}

.tarjetas .tarjeta2_footer .tarjeta2_contador .tarjeta2_contador_agregar i {
  position: relative;
  top: 5px;
  font-size: 13px;
}

.tarjetas .tarjeta2_footer .tarjeta2_contador .tarjeta2_contador_unidades {
  display: inline-block;
  width: calc(100% - 84px);
  text-align: center;
  user-select: none;
}

.tarjetas .tarjeta2_footer .tarjeta2_contador .tarjeta2_contador_unidades span {
  position: relative;
  top: 8px;
}
  

.tarjeta {
  border: 1px solid #ccc;
  box-shadow: 3px 4px #ccc;  
  background-color: #9098b514;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.tarjeta h1 {
  color: #e32d8b;
}

.tarjeta h3 {
  color: blue;
  font-size: 20px;
}

.tarjeta h3 span:hover {
  background-color: red;
}

.tarjeta h1 span {
  position: relative;
}

.tarjeta .tarjeta_producto {
  color: green;
}

.tarjeta:first-child .tarjeta_producto {
  font-size: 20px;
}

.tarjeta:nth-child(2) .tarjeta_producto {
  font-style: oblique;
}

.tarjeta_burbuja {
  position: absolute;
  top: -9px;
  right: -19px;
  font-size: 17px;
}

/****************CATEGORIAS***********************/
.categorias {
  text-align: center;
  background-color: #ffffff;
}

.categorias .categorias_menu {
  width: calc(100% - 50px);
  font-size: 10px;
  border: 1px solid #cccccc;
  padding: 0px;
  text-align: center;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  padding-top: 38px;
  margin-top: 68px;
}

.categorias .categorias_menu img {
  padding-bottom: 0px;
  width: 85px;
  top: -46px;
  height: 77px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.categorias .categorias_menu h1 {
  color: #000000;
  margin: 0px;
  font-size: 1.2rem;
  font-weight: bold;
}

.categorias .categorias_menu h2 {
  color: #80A3EA;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.categorias .modal_categorias img{
  width: 250px;
  height: 250px; 
  position: initial; 
}

/***************************************/

input:disabled {
  border: 1px solid red;
}

table {
  width: 100%;
}

table td {
  width: 50%;
}

table td img {
  width: 100%;
}

footer {
  border-top: 1px solid #e8e8e8;
  overflow: hidden;
}

.footer_access {
  font-size: 18px;
  border-bottom: 1px solid #ffffff;
  padding: 30px 0;
  text-align: center;
}

.footer_access .footer_menu_secundario {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 4px;
  font-size: 16px;
}

.footer_access .footer_menu_secundario span {
  float : right;
  color : #8a8df6;
}

.footer_access .footer_menu_secundario i {
  font-size: 60px;
  color: #8a8df6;
  display: inline-block;
  vertical-align: middle;
}

.footer_access .footer_menu_secundario b {
  display: inline-block;
  color: #8b8b8b;
  vertical-align: middle;
}

.footer_access .footer_menu_secundario:hover {
  background-color: #F6F6F6;
}

.footer_contacto {
  background-color: #F6F6F6;
  border-right: 1px solid #D1D1D1;
  padding: 20px;
  padding-left: 30px;
}

.footer_contacto h3 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer_siganos {
  background-color: #F6F6F6;
  padding: 20px;
  padding-left: 30px;
}

.footer_siganos h3 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer_siganos i {
  color: #80a3ea;
  font-size: 25px;
  margin-right: 10px;
}

/***** ESTILOS PARA MODAL *****/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: initial;
  z-index: 2;
  display: none;
}

.modal .modal_backdrop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  font-size: 28px;
  cursor: pointer;
}

.modal .modal_contenedor {
  min-height: 100px;
  margin-top: 50px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
}

.modal .modal_contenedor .modal_header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ececec;
}

.modal .modal_contenedor .modal_header h1 {
  margin: 0;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.modal .modal_contenedor .modal_header i {
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  cursor: pointer;
}

.modal .modal_contenedor .modal_header i:hover {
  transform: scale3d(1.3, 1.3, 1.3);
}

.modal .modal_contenedor .modal_body {
  min-height: 50px;
  width: 100%;
  padding: 10px 15px;
}

.modal .modal_contenedor .modal_footer {
  width: 100%;
  padding: 10px 15px;
  border-top: 1px solid #ececec;
  text-align: center;
}

.modal.modal_confirmacion .modal_footer button {
  width: 45%;
}

.modal .modal-sm {
  width: 300px;
}

.modal .modal-md {
  width: 450px;
}

.modal .modal-lg {
  width: 700px;
}

.modal .modal-xl {
  width: 950px;
}
/**********************************/

/**** ESTILOS PARA FORMULARIO *****/
.form-group {
  margin-bottom: 15px;
}

.form-group .form-label {
  margin-bottom: 5px;
  display: inline-block;
}

.form-group .form-control {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #cccccc;
  font-size: 18px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
/**********************************/

/******* ESTILOS PARA BOTONES *****/
.btn {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: .25rem;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
}

.btn.btn-primary {  
  background-color: #80A3EA;
  color: #ffffff;
}
/**********************************/

/**** ESTILOS PARA ALINEACION *****/
.texto-centrado {
  text-align: center;
}
.texto-izquierda {
  text-align: left;
}
.texto-derecha {
  text-align: right;
}
/**********************************/

/********** POPUP ******************/
.popup {
  display: none;
  font-size: 16px;
}

.popup .popup_backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0000003b;
}

.popup .popup_flecha {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  transform: rotate(46deg);
  position: absolute;
  right: 6px;
  top: 17px;
  z-index: 1;
}

.popup .popup_contenedor {
  min-height: 50px;
  background-color: #ffffff;
  position: absolute;
  right: -15px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  top: 23px;
  text-align: initial;
}

.popup .popup_contenedor .popup_header {
  width: 100%;
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ECECEC;
  box-shadow: 0px 4px 4px rgb(204 204 204 / 25%);
}

.popup .popup_contenedor .popup_body {
  min-height: 100px;
  min-width: 260px;
}

.popup .popup_contenedor .popup_footer {
  padding: 10px;
  border-top: 1px solid #ececec;
}
/***********************************/