<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./reposteria.css"/>
    <link rel="stylesheet" href="../../../assets/icons/bootstrap/bootstrap-icons.css">
  </head>
  <body onscroll="detectarScroll()">
    <header>
      <div class="header_principal">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <i class="bi bi-list header_menu" onclick="colapsarExpandirMenu();"></i>
          <h1 class="header_titulo">
            <a href="../inicio/inicio.html">INICIO</a>
          </h1>
          <span class="header_busqueda">
            <input type="text" placeholder="HOLA ,¿QUE ESTAS BUSCANDO?">
            <i class="bi bi-search"></i>
          </span>
        </div>
        <div class="header_acciones header_acciones col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <span class="header_acciones_notificacion">
            <i class="bi bi-bell-fill"></i>
            <div class="header_notificacion header_notificacion-principal">3</div>   
          </span>
          <span class="header_acciones_usuario">              
            <i class="bi bi-person-fill" onclick="mostrarOcultarUsuarioPopup();"></i>
            <div class="header_acciones_usuario_backdrop" onclick="mostrarOcultarUsuarioPopup();"></div>            
            <div class="header_acciones_usuario_flecha"></div>            
            <div class="header_acciones_usuario_popup">
              <ul>
                <li onClick="mostrarOcultarModalInicioSesion(); mostrarOcultarUsuarioPopup();">
                  <i class="bi bi-arrow-bar-right"></i>
                  <span>Iniciar sesion</span>
                </li>
                
                <li onClick="mostrarOcultarModalRegistrarse(); mostrarOcultarUsuarioPopup();">
                  <i class="bi bi-person"></i>
                  <span>Registrarse</span>
                </li>
                
                <li>
                  <i class="bi bi-basket"></i>
                  <span>Mis pedidos</span>
                </li>
              
                <li onClick="mostrarOcultarModalCerrarSesion(); mostrarOcultarUsuarioPopup();">
                  <i class="bi bi-arrow-bar-left"></i>
                  <span>Cerrar sesion</span>
                </li>
              </ul>
            </div>
          </span>
          
          <div class="modal modal_inicio_sesion">
            <div class="modal_backdrop" onclick="mostrarOcultarModalInicioSesion()"></div>
            <div class="modal_contenedor modal-sm">
              <div class="modal_header">
                <h1>Iniciar sesión</h1>
                <i class="bi bi-x" onclick="mostrarOcultarModalInicioSesion()"></i>
              </div>
              <div class="modal_body">
                <form>
                  <div class="form-group">
                    <label class="form-label">Correo electrónico:</label>
                    <input type="text" class="form-control" />
                  </div>
    
                  <div class="form-group">
                    <label class="form-label">Contraseña:</label>
                    <input type="text" class="form-control" />
                  </div>      
                </form>
              </div>
              <div class="modal_footer">
                <button class="btn btn-primary">Ingresar</button>
              </div>
            </div>
          </div>
          
          <div class="modal modal_registrarse">
            <div class="modal_backdrop" onclick="mostrarOcultarModalRegistrarse()"></div>
            <div class="modal_contenedor modal-sm">
              <div class="modal_header">
                <h1>Registrarse</h1>
                <i class="bi bi-x" onclick="mostrarOcultarModalRegistrarse()"></i>
              </div>
              <div class="modal_body">
                <form>
                  <div class="form-group">
                    <label class="form-label">Nombre usuario:</label>
                    <input type="text" class="form-control" />
                  </div>
                  
                  <div class="form-group">
                    <label class="form-label">Correo electrónico:</label>
                    <input type="text" class="form-control" />
                  </div>
    
                  <div class="form-group">
                    <label class="form-label">Contraseña:</label>
                    <input type="text" class="form-control" />
                  </div> 
                </form>     
              </div>
              <div class="modal_footer">
                <button class="btn btn-primary">Ingresar</button>                
              </div>
            </div>
          </div>
          
          <div class="modal modal_confirmacion modal_cerrar_sesion">
            <div class="modal_backdrop" onclick="mostrarOcultarModalCerrarSesion()"></div>
            <div class="modal_contenedor modal-sm">
              <div class="modal_header">
                <h1>Cerrar Sesión</h1>
                <i class="bi bi-x" onclick="mostrarOcultarModalCerrarSesion()"></i>
              </div>
              <div class="modal_body">
                <p class="texto-centrado">
                  ¿Está seguro que desea<br>
                  cerrar sesión?
                </p>
              </div>
              <div class="modal_footer">
                <button class="btn btn-primary">Aceptar</button>
                <button class="btn btn-secundario">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="header_secundario">
        <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3"> 
          <a href="../jugueteria/jugueteria.html">
            <i class="bi bi-truck-flatbed"></i> 
            <div>Juguetería</div>
          </a>
        </div>
        
        <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <a href="../moda/moda.html">
            <i class="bi bi-screwdriver"></i> 
            <div>Moda</div>
          </a>
        </div>
        
        <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3">  
          <a href="../tecnologia/tecnologia.html">
            <i class="bi bi-laptop"></i> 
            <div>Tecnologia</div>
          </a>
        </div>
        
        <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3 header_menu_secundario--seleccionado">
          <a href="../reposteria/reposteria.html">
            <i class="bi bi-life-preserver"></i>
            <div>Reposteria</div>
          </a>
        </div>
      </div>
    </header>
    
    <nav>
      <div class="nav_backdrop" onclick="colapsarExpandirMenu();"></div>
      <div class="nav_menu colapsado" >
        <h2>Menú opciones</h2>
        <ul>
          <li>
            <a href="../jugueteria/jugueteria.html">
              <i class="bi bi-truck-flatbed"></i> Juguetería
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../moda/moda.html">
              <i class="bi bi-screwdriver"></i> Moda
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../tecnologia/tecnologia.html">
              <i class="bi bi-laptop"></i> Tecnología
              <span>&gt;</span>
            </a>
          </li>
          <li class="nav_menu--seleccionado">
            <a href="./reposteria.html">
              <i class="bi bi-life-preserver"></i> Repostería 
              <span>&gt;</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    <main> 
      <div class="tarjetas">
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/torta_chocolate_fresa.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Torta húmeda</span><br>
            <span><b>Torta de leche de Óreo</b></span>
            <p>Torta rica en su sabor,  ha 
              ganado el premio internacional, 
              hecha con agua manantial</p>
            <span class="tarjeta2_body_precio">S/. 60.25</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/torta_selva_negra.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Torta húmeda</span><br>
            <span><b>Selva negra de cerezas</b></span>
            <p>Compuesta por capas de bizcochuelo de chocolate embebido en kirsch e intercaladas con nata y cerezas.</p>
            <span class="tarjeta2_body_precio">S/. 55.50</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/torta_chocolate.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Torta húmeda</span><br>
            <span><b>Torta Chocolate</b></span>
            <p>12 porciones, kekes, Manjar, Fudge de una rica Torta Chocolate.</p>
            <span class="tarjeta2_body_precio">S/. 48.00</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/torta_dely_oreo.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Torta húmeda</span><br>
            <span><b>Deli Oreo</b></span>
            <p>12 porciones con galletas de oreo vainilla, polvo de chocolate de una rica Deli Oreo.</p>
            <span class="tarjeta2_body_precio">S/. 72.00</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/torta_barra_3_leches.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Torta húmeda</span><br>
            <span><b>Barra tres leches</b></span>
            <p>12 porciones aproximadamente, con cerezas, fosh, manjar y listo para comer en tu almuerzo.</p>
            <span class="tarjeta2_body_precio">S/. 49.00</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/keke_pina.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Kekes</span><br>
            <span><b>Keke de piña</b></span>
            <p>Muy rico, sabroso y esponjoso, con piñas azucaradas y dulces como a todos nos gusta</p>
            <span class="tarjeta2_body_precio">S/. 24.00</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/keke_zanahoria.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Kekes</span><br>
            <span><b>keke de zanahoria</b></span>
            <p>Keke de Zanahoria con Manjar Blanco y Castañas, a precio de promición, sólo por hoy.</p>
            <span class="tarjeta2_body_precio">S/. 42.00</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/keke_marmoleado.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Kekes</span><br>
            <span><b>Keke Marmoleado</b></span>
            <p>12-14 porciones de keke sabor a chocolate, con frutos secos que descubrirás mientras vayas comiendo.</p>
            <span class="tarjeta2_body_precio">S/. 22.00</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/keke_platano_nueces.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Kekes</span><br>
            <span><b>Keke de Plátano con Nueces</b></span>
            <p>12-14 porciones de un rico keke de plátano con incrustaciones de nueces.</p>
            <span class="tarjeta2_body_precio">S/. 22.00</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/torta_barra_torta_chocolate.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Torta húmeda</span><br>
            <span><b>Barra torta de chocolate</b></span>
            <p>12 porciones aproximadamente, con cerezas, fosh, manjar y listo para comer en tu almuerzo.</p>
            <span class="tarjeta2_body_precio">S/. 49.50</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/torta_cumple_fiesta.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Torta húmeda</span><br>
            <span><b>Feliz Cumple Fiesta</b></span>
            <p>12 porciones, compuesta por capas de bizcochuelo de caramelo y con el diseño que más de guste.</p>
            <span class="tarjeta2_body_precio">S/. 69.00</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/torta_delicia_fresa.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Torta húmeda</span><br>
            <span><b>Torta Delicia de Fresa</b></span>
            <p>24 porciones, compuesta por fresas y fosh, listo para tus cumpleaños y días que más te gusten disfrutar.</p>
            <span class="tarjeta2_body_precio">S/. 84.00</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
      </div>
    
      <!-- <span class="oferta"></span> -->
      
      <!-- <div>         -->
        <!-- <div class="tarjeta"> -->
          <!-- <h1> -->
            <!-- <span> -->
              <!-- Pedido -->
              <!-- <div class="burbuja tarjeta_burbuja">1</div> -->
            <!-- </span> -->
          <!-- </h1>  -->
      
          <!-- <form> -->
            <!-- <label>Nombre postre*: </label> -->
            <!-- <input  -->
              <!-- name="nombre_postre" -->
              <!-- type="text"  -->
              <!-- required  -->
              <!-- placeholder="Ingrese el nombre..." /> -->
            
            <!-- <br/> -->
            
            <!-- <label>Cantidad*: </label> -->
            <!-- <input  -->
              <!-- name="cantidad" -->
              <!-- type="number"  -->
              <!-- onkeyup="construirOferta('selva negras', 'porciones de gelatinas')" -->
              <!-- required /> -->
            
            <!-- <br/> -->
            
            <!-- <label>Correo*: </label> -->
            <!-- <input  -->
              <!-- name="correo" -->
              <!-- type="email"  -->
              <!-- required /> -->
                  
            <!-- <br/> -->
            
            <!-- <label>Departamento: </label> -->
            <!-- <select name="departamento"> -->
              <!-- <option>Lima</option> -->
              <!-- <option>Arequipa</option> -->
              <!-- <option>Cuzco</option> -->
            <!-- </select> -->
                  
            <!-- <br/> -->
            
            <!-- <label>Provincia: </label> -->
            <!-- <select name="provincia"> -->
              <!-- <option>Lima</option> -->
              <!-- <option>Callao</option> -->
            <!-- </select> -->
                  
            <!-- <br/> -->
            
            <!-- <label>Distrito: </label> -->
            <!-- <select name="distrito"> -->
              <!-- <option>Villa Maria</option> -->
              <!-- <option>San Juan M.</option> -->
              <!-- <option>Independencia</option> -->
            <!-- </select> -->
                  
            <!-- <br/> -->
            
            <!-- <label>Comentario: </label> -->
            <!-- <textarea name="comentario"></textarea> -->
            
            <!-- <br/><br/> -->
            <!-- <button type="button" onClick="realizarPedido();">Realizar pedido</button> -->
            <!-- <button type="button" onClick="agregarPedido();">Agregar al carrito</button> -->
          <!-- </form> -->

          <!-- <br/><br/> -->
        <!-- </div> -->
        
        <!-- <div class="tarjeta"> -->
          <!-- <h1> -->
            <!-- <span> -->
              <!-- Socios bodoquin -->
              <!-- <div class="burbuja tarjeta_burbuja">4</div> -->
            <!-- </span> -->
          <!-- </h1> -->
      
          <!-- <table> -->
            <!-- <thead> -->
              <!-- <tr> -->
                <!-- <th>N°</th> -->
                <!-- <th>Primer Apellido</th> -->
                <!-- <th>Segundo Apellido</th> -->
                <!-- <th>Nombres</th> -->
              <!-- </tr> -->
            <!-- </thead> -->
            <!-- <tbody> -->
              <!-- <tr> -->
                <!-- <td>1</td> -->
                <!-- <td>Rosales</td> -->
                <!-- <td>Maldonado</td> -->
                <!-- <td>Ricardo Alfredo</td> -->
              <!-- </tr> -->
              <!-- <tr> -->
                <!-- <td>2</td> -->
                <!-- <td>Rosales</td> -->
                <!-- <td>Maldonado</td> -->
                <!-- <td>David Daniel</td> -->
              <!-- </tr> -->
              <!-- <tr> -->
                <!-- <td>3</td> -->
                <!-- <td>Ayala</td> -->
                <!-- <td>Rivera</td> -->
                <!-- <td>Yoisi</td> -->
              <!-- </tr> -->
              <!-- <tr> -->
                <!-- <td>4</td> -->
                <!-- <td>Chipana</td> -->
                <!-- <td>Isidro</td> -->
                <!-- <td>Vanessa</td> -->
              <!-- </tr> -->
            <!-- </tbody> -->
          <!-- </table> -->
          
          <!-- <p> -->
            <!-- Esta aplicación se ha realizado gracias a la colaboración de nuestro desarrolladores expertos -->
          <!-- </p> -->
        <!-- </div> -->
      <!-- </div> -->
      
      <div class="chat">
        <div class="chat_backdrop" onclick="mostrarOcultarChat();"></div>
        <div class="chat_popup">
          <div class="chat_popup_header">
            <i class="bi bi-messenger chat_logo" ></i>
            <h1 >Bodoquin</br><small>Siempre contigo</small></h1>
            <i class="bi bi-x chat_cerrar" onClick="mostrarOcultarChat()"></i>
          </div>
          <div class="chat_popup_body">
          </div>
          <div class="chat_popup_footer">
            <input type="text" required placeholder="¿En que te ayudamos?..."  />
            <i class="bi bi-arrow-right-circle"></i>
          </div>
        </div>
        <div class="chat_fab">
          <i class="bi bi-messenger" onclick="mostrarOcultarChat();"></i>
        </div>
      </div>
    </main>
    
    <footer>
      <div class="footer_access">
        <div class="footer_menu_secundario col-sm-6 col-md-6 col-lg-3 col-xl-3">           
          <i class="bi bi-house"></i> 
          <b>Recojo en<br>tienda<span>&nbsp;&gt;</span></b>    
        </div>
        
        <div class="footer_menu_secundario col-sm-6 col-md-6 col-lg-3 col-xl-3">          
          <i class="bi bi-truck"></i> 
          <b>Delivery<br>Programado<span>&nbsp;&gt;</span></b>    
        </div>
        
        <div class="footer_menu_secundario col-sm-6 col-md-6 col-lg-3 col-xl-3">      
          <i class="bi bi-bicycle"></i> 
          <b>Delivery<br>Express<span>&nbsp;&gt;</span></b>
        </div>
        
        <div class="footer_menu_secundario col-sm-6 col-md-6 col-lg-3 col-xl-3">      
          <i class="bi bi-cash-coin"></i> 
          <b>Método de<br>pago<span>&nbsp;&gt;</span></b>          
        </div>
      </div>
      
      <div class="footer_contacto">
        <h3>Comunícate con nosotros:</h3>
        <span>Lima: <b>(01) 625-8000</b></span>
        <br>
        <span>Provincia: <b> (+51)0800-00020</b></span>
      </div>
    
      <div class="footer_siganos">
        <h3>Siguenos en:</h3>
        <a href="https://web.facebook.com/" target="_blank" title="Facebook">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank" title="Youtube">
          <i class="bi bi-youtube"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" title="Twitter">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" title="Instagram">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </footer>
    
    <script src="./reposteria.js"></script>
  </body>
</html>