.tarjeta-producto {
  .tarjeta2 {
    border: 1px solid #dddcdc;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #ffffff;
    width: 100%; 
    
    &:hover {
      box-shadow: 1px 1px 5px #cccccc;
    }

    &_header {
      padding: 15px 30px;
      text-align: center;
      
      img {
        width: 100%;
        height: 180px;
        max-width: 255px;
      }
    }

    &_body {
      padding: 0 15px;
      
      p {
        margin-left: 15px;
        height: 70px;
        margin-bottom: 10px;
      }
      
      &_precio {
        color: #FF0000;
        font-weight: bold;
        font-size: 24px;
      }
    }
    
    &_footer {
      padding: 15px;
      
      button {
        background-color: #ffffff;
        border: 1px solid #80A3EA;
        width: 100%;
        height: 35px;
        color: #80A3EA;
        font-weight: bold;
        cursor: pointer; 
      }
      
      &_contador {
        border: 1px solid #cccccc;
        border-radius: 23px;
        user-select: none;
        
        &_agregar {
          display: inline-block;
          width: 38px;
          height: 38px;
          border-radius: 50%;
          border: 2px solid #80A3EA;
          text-align: center;
          color: #80A3EA;
          user-select: none;
          
          &:hover {
            background-color: #80A3EA;
            color: #ffffff;
          }

          i {
            position: relative;
            top: 5px;
            font-size: 13px;
          }
        }
        
        &_unidades {
          display: inline-block;
          width: calc(100% - 84px);
          text-align: center;
          user-select: none;
          
          span {
            position: relative;
            top: 8px;
          }
        }
      }
    }
    
    &:hover .tarjeta2_footer button {
      background-color: #80A3EA;
      color: #ffffff;
    }
  }
}

