<div class="tarjetas-producto row" [ngStyle]="{backgroundColor: fondo}">
  <div *ngFor="let producto of productos" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <bodoquin-tarjeta-producto 
      [producto]="producto"
      (onClickAgregar)="onClickAgregar($event)"
      (onClickSumar)="onClickSumar.emit($event)"
      (onClickRestar)="onClickRestar.emit($event)"
      (onClickEliminar)="onClickEliminar.emit($event)"
      (onClickTarjeta)="onClickTarjeta.emit($event)"
    ></bodoquin-tarjeta-producto>
  </div>
</div>