<div class="reposteria-alumnos">
  <p>Listado de alumnos:</p>
  <pre>{{alumnos | json}}</pre>
    
  <bodoquin-reposteria-card
    *ngFor="let alumno of alumnos"
    [titulo]="alumno.nombre"
    [valor]="alumno.edad"
    [descripcion]="alumno.color"
    (clickEditar)="seleccionarAlumno(alumno)"
    (clickEliminar)="eliminarAlumno(alumno)"
  ></bodoquin-reposteria-card>
  
  <form>
    <label for="nombre">Nombre:</label>
    <input 
      type="text" 
      name="nombre" 
      id="nombre" 
      [(ngModel)]="alumno.nombre"
    />
    
    <label for="edad">Edad:</label>
    <input 
      type="number" 
      name="edad" 
      id="edad"
      [(ngModel)]="alumno.edad"
    />
    
    <label for="color">Color:</label>
    <input 
      type="text" 
      name="color" 
      id="color"
      [(ngModel)]="alumno.color"
    />
    
    <button 
      type="button" 
      (click)="grabarAlumno()"
    >Grabar</button>
  </form>
</div>