<div class="header-usuario">
  <i #usuarioIcono class="bi bi-person-fill" (click)="onClickUser()"></i>

  <bodoquin-popup
    [elemento]="usuarioIcono"
    [(showPopup)]="showPopup"
    [templateBody]="templateUsuario"
  ></bodoquin-popup>
  
  <ng-template #templateUsuario>
    <ul class="header-usuario_popup">
      <li (click)="mostrarModalInicioSesion();">
        <i class="bi bi-arrow-bar-right"></i>
        <span>Iniciar sesion</span>
      </li>
      
      <li onClick="mostrarOcultarModalRegistrarse(); mostrarOcultarUsuarioPopup();">
        <i class="bi bi-person"></i>
        <span>Registrarse</span>
      </li>
      
      <li>
        <i class="bi bi-basket"></i>
        <span>Mis pedidos</span>
      </li>
    
      <li onClick="mostrarOcultarModalCerrarSesion(); mostrarOcultarUsuarioPopup();">
        <i class="bi bi-arrow-bar-left"></i>
        <span>Cerrar sesion</span>
      </li>
    </ul>
  </ng-template>
  
  <bodoquin-modal
    titulo="Iniciar sesión"
    [(showModal)]="showModalIniciarSesion"
    textoAceptar="Ingresar"
    [showCancelar]="false"
    [templateBody]="templateIniciarSesion"
  ></bodoquin-modal>
  
  <ng-template #templateIniciarSesion>
    <form>
      <div class="form-group">
        <label class="form-label">Correo electrónico:</label>
        <input type="text" class="form-control" />
      </div>

      <div class="form-group">
        <label class="form-label">Contraseña:</label>
        <input type="text" class="form-control" />
      </div>      
    </form>
  </ng-template>
  
  <div class="modal modal_inicio_sesion">
    <div class="modal_backdrop" onclick="mostrarOcultarModalInicioSesion()"></div>
    <div class="modal_contenedor modal-sm">
      <div class="modal_header">
        <h1>Iniciar sesión</h1>
        <i class="bi bi-x" onclick="mostrarOcultarModalInicioSesion()"></i>
      </div>
      <div class="modal_body">

      </div>
      <div class="modal_footer">
        <button class="btn btn-primary">Ingresar</button>
      </div>
    </div>
  </div>

  <div class="modal modal_registrarse">
    <div class="modal_backdrop" onclick="mostrarOcultarModalRegistrarse()"></div>
    <div class="modal_contenedor modal-sm">
      <div class="modal_header">
        <h1>Registrarse</h1>
        <i class="bi bi-x" onclick="mostrarOcultarModalRegistrarse()"></i>
      </div>
      <div class="modal_body">
        <form>
          <div class="form-group">
            <label class="form-label">Nombre usuario:</label>
            <input type="text" class="form-control" />
          </div>
          
          <div class="form-group">
            <label class="form-label">Correo electrónico:</label>
            <input type="text" class="form-control" />
          </div>

          <div class="form-group">
            <label class="form-label">Contraseña:</label>
            <input type="text" class="form-control" />
          </div> 
        </form>     
      </div>
      <div class="modal_footer">
        <button class="btn btn-primary">Ingresar</button>                
      </div>
    </div>
  </div>

  <div class="modal modal_confirmacion modal_cerrar_sesion">
    <div class="modal_backdrop" onclick="mostrarOcultarModalCerrarSesion()"></div>
    <div class="modal_contenedor modal-sm">
      <div class="modal_header">
        <h1>Cerrar Sesión</h1>
        <i class="bi bi-x" onclick="mostrarOcultarModalCerrarSesion()"></i>
      </div>
      <div class="modal_body">
        <p class="texto-centrado">
          ¿Está seguro que desea<br>
          cerrar sesión?
        </p>
      </div>
      <div class="modal_footer">
        <button class="btn btn-primary">Aceptar</button>
        <button class="btn btn-light">Cancelar</button>
      </div>
    </div>
  </div>
</div>

