.header-usuario {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  & i {
    font-size: 28px;
    color: #ffffff;
    margin-left: 18px;
    cursor: pointer;
  }
  
  &_backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0000003b;
    display: none;
  }

  &_flecha {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    transform: rotate(46deg);
    position: absolute;
    right: 6px;
    top: 29px;
    z-index: 1;
    display: none;
  }

  &_popup {
      padding-left: 20px;
      padding-right: 20px;

      & li {
        list-style-type: none;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px dashed #cccccc;
        cursor: pointer;

        & i {
          color: #000000;
          font-size: 20px;
          vertical-align: middle;
          margin-right: 8px;
        }

        & span {
          vertical-align: middle;
        }
      }
    }

  & .modal_inicio_sesion {
    display: none;
  }

  & .modal_registrarse {
    display: none;
  }

  & .modal_cerrar_sesion {
    display: none;
  }  
}

