body {
  margin: 0;
}

@font-face {
  font-family: roboto;
  src: url(../../../assets/fonts/Roboto/Roboto-Light.ttf);
}

* {
  font-family: roboto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #a7ae3e;
  z-index: 2;
}

main {
  margin-top: 135px;
}

/*********** TOAST *******************/
.toasts {
  position: fixed;
  right: 25px;
  top: 67px;
  z-index: 10;
}

.toast {
  background-color: #ececec;
  width: 290px;
  padding: 15px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border: 1px solid #cccccc; 
  margin-bottom: 15px;
  position: relative; 
}

.toast h1 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.toast p {
  margin-bottom: 0;
  font-size: 15px;
  margin-top: 10px;
}

.toast i {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  cursor: pointer; 
}

.toast.toast-success {
  background-color: #D1E7DD;
  color: #0F5132;
  border-color: #BADBCC;
}

.toast.toast-danger {
  background-color: #F8D7DA;
  color: #842029;
  border-color: #F5C2C7;
}

.toast.toast-warning {
  background-color: #FFF3CD;
  color: #664D03;
  border-color: #B6D4FE;
}

.toast.toast-info {
  background-color: #CFE2FF;
  color: #084298;
  border-color: #BADBCC;
}
/*************************************/

/*********** CAROUSEL ****************/
main .carousel {
  position: relative;
  overflow: hidden;
}

main .carousel .carousel_banners {
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  left: 0%;
  border-bottom: 1px solid #cccccc;
  font-size: 0px;
}

main .carousel .carousel_banners.carousel_banners--transicion {
  transition: all 500ms ease 0s;
}

main .carousel .carousel_banners .carousel_banner {
  transition: transform 0.5s;
  display: inline-block;
  width: 100%;
}

main .carousel .carousel_banners .carousel_banner img {
  width: 100%; 
}

main .carousel .carousel_accion-izquierda {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  font-size: 35px;
}

main .carousel .carousel_accion-izquierda i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin-left: 6px;
}

main .carousel .carousel_accion-izquierda i:hover {
  background-color: #ececec;
  border-radius: 4px;
}

main .carousel .carousel_accion-derecha {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  right: 0;
  font-size: 35px;
}

main .carousel .carousel_accion-derecha i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

main .carousel .carousel_accion-derecha i:hover {
  background-color: #ececec;
  border-radius: 4px;
}

main .carousel .carousel_pasos {
  position: relative ;
  text-align: center ;
  background-color: #e3ecff;
  user-select: none;
}

main .carousel .carousel_pasos .carousel_pasos_acceso {
  width: 10px;
  height: 10px;
  background-color: #585454;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
  cursor : pointer ;
}

main .carousel .carousel_pasos .carousel_pasos_acceso.seleccionado {
  background-color: #e73c35;
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
}
/*********************************/

main .tarjetas-acceso {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;  
  background-color: #e3ecff;
}

main .tarjeta-acceso {
  width: 320px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 16%);
  height: 220px;
  border: 1px solid #e7e7e7;
  padding: 0 20px;
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 20px;
  background-color: #ffffff;
}

main .tarjeta-acceso:hover {
  background-color: #f6f6f6;
  transform: scale3d(1.05, 1.05, 1.05);
  border: 1px solid #a7ae3e;
}

main .tarjeta-acceso button {
  width: 50%;
  vertical-align: middle;
}

main .tarjeta-acceso img {
  width: 100px;
  vertical-align: middle;
  position: relative;
  right: -60px;
  height: 70px;
}

main .tarjetas-oferta {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  background-color: #f8f8f8;
}

main .tarjetas-oferta .tarteja-oferta {
  width: 360px;
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 20px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 4px 1px 4px rgb(172 172 172 / 15%);
  height: 169px;
  font-size: 18px;
  background-color: #ffffff;
}

main .tarjetas-oferta .tarteja-oferta .tarjeta-oferta_descuento {
  width: 80px;
  display: inline-block;
  height: calc(100% - 60px);
  background-color: #E3ECFF;
  padding: 30px 25px;
  vertical-align: middle;
  text-align: center;
}

main .tarjetas-oferta .tarteja-oferta .tarjeta-oferta_descuento .tarjeta-oferta_descuento_hoy {
  font-size: 24px;
  font-weight: bold;
}

main .tarjetas-oferta .tarteja-oferta .tarjeta-oferta_descuento .tarjeta-oferta_descuento_valor {
  color: #80A3EA;
  font-weight: bold;
  margin-top: 12px;
  display: block;
}

main .tarjetas-oferta .tarteja-oferta .tarjeta-oferta_producto {
  display: inline-block;
  height: 100%;
  width: calc(100% - 135px);
  vertical-align: middle;
}

main .tarjetas-oferta .tarteja-oferta .tarjeta-oferta_producto .tarjeta-oferta_producto_imagen {
  width: 90px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  position: relative;
}

main .tarjetas-oferta .tarteja-oferta .tarjeta-oferta_producto .tarjeta-oferta_producto_imagen img {
  width: 100%;
  vertical-align: middle;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

main .tarjetas-oferta .tarteja-oferta .tarjeta-oferta_producto .tarjeta-oferta_producto_detalle {
  width: calc(100% - 106px);
  display: inline-block;
  height: calc(100% - 20px);
  vertical-align: middle;
  text-align: right;
  padding-right: 10px;
  padding-top: 20px;
}

main .tarjetas-oferta .tarteja-oferta .tarjeta-oferta_producto .tarjeta-oferta_producto_detalle .tarjeta-oferta_producto_nombre {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

main .tarjetas-oferta .tarteja-oferta .tarjeta-oferta_producto .tarjeta-oferta_producto_detalle .tarjeta-oferta_producto_precio {
  background-color: #FFF1F1;
  border-radius: 15px;
  margin-top: 10px;
  display: block;
  font-size: 25px;
  padding: 10px;
  color: #FF0000;
  font-weight: bold;
}

body.con-scroll main {
  padding-top: 0px;
}

/***************OFERTA HOY ************/

.oferta-hoy {
  width: 465px;
  height: 292px;
  position: fixed;
  right: 0;
  background-color: #ff1111;
  top: 50%;
  transform: translateY(-50%);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;  
  font-size: 0px;
}

.oferta-hoy .oferta-hoy_titulo {
  width: 44px;
  height: 100%;
  background-color: #464646;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: inline-block;
  font-size: 15px; 
}

.oferta-hoy .oferta-hoy_titulo span {
  left: 13px;
  color: #ffffff;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  position: absolute;
  bottom: 15px;
  font-weight: bold;    
}

.oferta-hoy .oferta-hoy_titulo i {
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  left: 11px;
  top: 7px;     
}

.oferta-hoy .oferta-hoy_img {
  display: inline-block;
  width: 417px; 
}

.oferta-hoy .oferta-hoy_titulo i:hover {
  transform: scale3d(1.3, 1.3, 1.3);
}

/**************************************/


/************** CHAT *****************/
.chat {
  
}

.chat .chat_popup {
  width: 250px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #ffffff;
  z-index: 2;
  border: 1px solid #cccccc;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  border-radius: 8px;
  opacity: 0;
  transform-origin: bottom right;
}

.chat .chat_popup.chat_popup_in {
  animation-name: chat_popup_animacion_in;
  opacity: 1;
  animation-duration: 300ms;
}

.chat .chat_popup.chat_popup_out {
  animation-name: chat_popup_animacion_out;
  opacity: 0;
  animation-duration: 300ms;
}

@keyframes chat_popup_animacion_in {
  0% { 
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  100% { 
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes chat_popup_animacion_out {
  0% { 
    opacity: 1;
    transform: scale(1);
  }
  100% { 
    opacity: 0;
    transform: scale(0);
  }
}

.chat .chat_backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}

.chat .chat_popup .chat_popup_header {
  width: calc(100% - 20px);
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.chat .chat_popup .chat_popup_header h1 {
  margin: 0;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  line-height: 15px;
}

.chat .chat_popup .chat_popup_header h1 small {
  color: #969595;
  font-size: 14px;
}

.chat .chat_popup .chat_popup_header .chat_cerrar {
  position: absolute;
  right: 5px;
  font-size: 25px;
  cursor: pointer;
}

.chat .chat_popup i:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}

.chat .chat_popup .chat_popup_header .chat_logo {
  font-size: 35px;
  vertical-align: middle;
  color: #696ce6;
}

.chat .chat_popup .chat_popup_body {
  height: 300px;
  width: 100%;
}

.chat .chat_popup .chat_popup_footer {
  padding: 10px;
  width: calc(100% - 20px);
  border-top: 1px solid #cccccc;
}

.chat .chat_popup .chat_popup_footer input {
  height: 30px;
  width: 187px;
  border: 1px solid #cccccc;
  padding-left: 10px;
  vertical-align: middle;
  border-radius: 15px;
  outline: none;
}

.chat .chat_popup .chat_popup_footer i {
  font-size: 25px;
  vertical-align: middle;
  cursor: pointer;
}
  
.chat .chat_fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 12px 28px rgb(0 0 0 / 20%);
  transition: transform 300ms;
}

.chat .chat_fab.chat_fab_in {
  transform: rotateX(196deg);
}

.chat .chat_fab i {
  font-size: 43px;
  color: #8a8df6;
  cursor: pointer;
  position: relative;
  top: -3px;
}

.chat .chat_fab i:hover {
  color: #696ce6;
}
/*************************************/

.header_principal {
  padding: 10px;
}

.header_secundario {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0px 2px 5px 0px #cccccc;
  padding: 10px;
  text-align: center;
}

body.con-scroll .header_secundario {
  display: none;
}

.header_secundario .header_menu_secundario {
  width: 130px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 4px;
}

.header_secundario .header_menu_secundario:hover {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding-bottom: 4px;
}

.header_secundario .header_menu_secundario a {
  text-decoration: none;
  color: #000000;
}

.header_secundario .header_menu_secundario i {
  font-size: 25px;
}

.header_menu_secundario--seleccionado {
  border-bottom: 3px solid #80a3ea;
}

.header_menu {
  color: #ffffff;
  font-size: 28px;
  vertical-align: middle;
  cursor: pointer;
}

.header_titulo {
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  vertical-align: middle;
}

.header_titulo a {
  text-decoration: none;
  color: #ffffff;
}

.header_acciones_notificacion {
  position: relative;
}

.header_notificacion {
  width: 20px;
  height: 20px;
  background-color: #FF0000;
  color: #ffffff;
  text-align: center;
  padding-top: 0px;
  border-radius: 50%;
}

.header_notificacion-principal {
  position: absolute;
  top: -15px;
  right: -3px;
}

.header_busqueda {
  position: relative;
}

.header_busqueda input {
  width: 300px;
  height: 38px;
  border: none;
  outline: none;
  padding-left: 35px;
  border-radius: 20px;
}

.header_busqueda i {
  position: absolute;
  left: 10px;
  top: 0px;
}

.header_acciones {
  float: right;
  width: 120px;
  padding-top: 5px;
}

.header_acciones i {
  font-size: 28px;
  color: #ffffff;
  margin-left: 18px;
  cursor: pointer;
}

.header_acciones .header_acciones_usuario {
  position: relative;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0000003b;
  display: none;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_flecha {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  transform: rotate(46deg);
  position: absolute;
  right: 6px;
  top: 29px;
  z-index: 1;
  display: none;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup {
  width: 260px;
  min-height: 50px;
  background-color: #ffffff;
  position: absolute;
  right: -15px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  top: 35px;
  display: none;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup ul {
  padding-left: 20px;
  padding-right: 20px;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup ul li {
  list-style-type: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #cccccc;
  cursor: pointer;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup ul li i {
  color: #000000;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup ul li span {
 vertical-align: middle;
}

.header_acciones .modal_inicio_sesion {
  display: none;
}

.header_acciones .modal_registrarse {
  display: none;
}

.header_acciones .modal_cerrar_sesion {
  display: none;
}

/*******MENU NAVEGACION******/

nav {
}

nav .nav_backdrop {
  position: fixed;
  top: 67px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000026;
  z-index: 2;
  display: none; 
}

nav .nav_menu {
  position: fixed;
  top: 67px;
  width: 270px;
  height: 100%;
  background-color: #F0F5FF;
  z-index: 2;
  box-shadow: 3px 1px 6px 0px #cccccc;
  transition: transform 0.5s;
}
  

nav .nav_menu.colapsado {
  transform: translateX(-275px);
}
  
nav .nav_menu h2 {
  font-size: 18px;
  background-color: #FFF1F1;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #FF0000;
}

nav .nav_menu ul {
  padding: 0;
  margin: 0;
}

nav .nav_menu ul li {
  list-style-type: none;
  padding: 20px 35px;
  border-bottom: 1px solid #80A3EA;
  cursor: pointer;
}

nav .nav_menu ul li a {
  text-decoration: none;
  color: #000000;
}

nav .nav_menu ul li i {
  font-size: 20px;
}

nav .nav_menu ul li.nav_menu--seleccionado {  
  background-color: #dee6f5;
}

nav .nav_menu ul li.nav_menu--seleccionado a {
  font-weight: bold;
  color: #264fa0;
}

nav .nav_menu ul li span {
  float: right;
  margin-top: 4px;
  display: none;
}

nav .nav_menu ul li.nav_menu--seleccionado span {
  display: initial;
}

/*******************************************/

footer {
  border-top: 1px solid #e8e8e8;
}

.footer_access {
  width: 100%;
  font-size: 18px;
  border-bottom: 1px solid #ffffff;
  padding: 30px 0;
  text-align: center;
}

.footer_access .footer_menu_secundario {
  width: calc(25% - 5px);
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 4px;
  font-size: 16px;
}

.footer_access .footer_menu_secundario span {
  float : right;
  color : #8a8df6;
}

.footer_access .footer_menu_secundario i {
  font-size: 60px;
  color: #8a8df6;
  display: inline-block;
  vertical-align: middle;
}

.footer_access .footer_menu_secundario b {
  display: inline-block;
  color: #8b8b8b;
  vertical-align: middle;
}

.footer_access .footer_menu_secundario:hover {
  background-color: #F6F6F6;
}

.footer_contacto {
  background-color: #F6F6F6;
  width: calc(50% - 45px);
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #D1D1D1;
  padding: 20px;
  height: 85px;
}

.footer_contacto h3 {
  margin-top: 0;
}

.footer_siganos {
  background-color: #F6F6F6;
  width: calc(50% - 40px);
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  height: 85px;
}

.footer_siganos h3 {
  margin-top: 0;
}

.footer_siganos i {
  color: #80a3ea;
  font-size: 25px;
  margin-right: 10px;
}

/***** ESTILOS PARA MODAL *****/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.modal .modal_backdrop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
}

.modal .modal_contenedor {
  min-height: 100px;
  margin-top: 50px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
}

.modal .modal_contenedor .modal_header {
  width: calc(100% - 20px);
  padding: 10px;
  border-bottom: 1px solid #ececec;
}

.modal .modal_contenedor .modal_header h1 {
  margin: 0;
  font-size: 22px;
  text-align: center;
}

.modal .modal_contenedor .modal_header i {
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
}

.modal .modal_contenedor .modal_body {
  min-height: 50px;
  width: calc(100% - 30px);
  padding: 10px 15px;
}

.modal .modal_contenedor .modal_footer {
  width: calc(100% - 30px);
  padding: 10px 15px;
  border-top: 1px solid #ececec;
  text-align: center;
}

.modal.modal_confirmacion .modal_footer button {
  width: 45%;
}

.modal .modal-sm {
  width: 300px;
}

.modal .modal-md {
  width: 450px;
}

.modal .modal-lg {
  width: 700px;
}

.modal .modal-xl {
  width: 950px;
}
/**********************************/

/**** ESTILOS PARA FORMULARIO *****/
.form-group {
  margin-bottom: 15px;
}

.form-group .form-label {
  margin-bottom: 5px;
  display: inline-block;
}

.form-group .form-control {
  width: calc(100% - 14px);
  height: 34px;
  padding-left: 10px;
  border: 1px solid #cccccc;
  font-size: 18px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
/**********************************/

/******* ESTILOS PARA BOTONES *****/
.btn {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: .25rem;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
}

.btn.btn-primary, 
.btn.btn-primary a {  
  background-color: #80A3EA;
  color: #ffffff;
}
/**********************************/

/**** ESTILOS PARA ALINEACION *****/
.texto-centrado {
  text-align: center;
}
.texto-izquierda {
  text-align: left;
}
.texto-derecha {
  text-align: right;
}
/**********************************/

/****************GENERALES*******************/
.icono-accion:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}
/*********************************************/
