<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./inicio.css"/>
    <link rel="stylesheet" href="../../../assets/icons/bootstrap/bootstrap-icons.css">
  </head>
  <body onscroll="detectarScroll()">
    <header>
      <div class="header_principal">
        <i class="bi bi-list header_menu" onclick="colapsarExpandirMenu();"></i>
        <h1 class="header_titulo">
          <a href="./inicio.html">Inicio</a>
        </h1>
        <span class="header_busqueda">
          <input type="text" placeholder="HOLA ,¿QUE ESTAS BUSCANDO?">
          <i class="bi bi-search"></i>
        </span>
        <div class="header_acciones">
          <span class="header_acciones_notificacion">
            <i class="bi bi-bell-fill"></i>
            <div class="header_notificacion header_notificacion-principal">3</div>   
          </span>
          <span class="header_acciones_usuario">              
            <i class="bi bi-person-fill" onclick="mostrarOcultarUsuarioPopup();"></i>
            <div class="header_acciones_usuario_backdrop" onclick="mostrarOcultarUsuarioPopup();"></div>            
            <div class="header_acciones_usuario_flecha"></div>            
            <div class="header_acciones_usuario_popup">
              <ul>
                <li onClick="mostrarOcultarModalInicioSesion(); mostrarOcultarUsuarioPopup();">
                  <i class="bi bi-arrow-bar-right"></i>
                  <span>Iniciar sesion</span>
                </li>
                
                <li onClick="mostrarOcultarModalRegistrarse(); mostrarOcultarUsuarioPopup();">
                  <i class="bi bi-person"></i>
                  <span>Registrarse</span>
                </li>
                
                <li>
                  <i class="bi bi-basket"></i>
                  <span>Mis pedidos</span>
                </li>
              
                <li onClick="mostrarOcultarModalCerrarSesion(); mostrarOcultarUsuarioPopup();">
                  <i class="bi bi-arrow-bar-left"></i>
                  <span>Cerrar sesion</span>
                </li>
              </ul>
            </div>
          </span>
          
          <div class="modal modal_inicio_sesion">
            <div class="modal_backdrop" onclick="mostrarOcultarModalInicioSesion()"></div>
            <div class="modal_contenedor modal-sm">
              <div class="modal_header">
                <h1>Iniciar sesión</h1>
                <i class="bi bi-x" onclick="mostrarOcultarModalInicioSesion()"></i>
              </div>
              <div class="modal_body">
                <form>
                  <div class="form-group">
                    <label class="form-label">Correo electrónico:</label>
                    <input type="text" class="form-control" />
                  </div>
    
                  <div class="form-group">
                    <label class="form-label">Contraseña:</label>
                    <input type="text" class="form-control" />
                  </div>      
                </form>
              </div>
              <div class="modal_footer">
                <button class="btn btn-primary">Ingresar</button>
              </div>
            </div>
          </div>
          
          <div class="modal modal_registrarse">
            <div class="modal_backdrop" onclick="mostrarOcultarModalRegistrarse()"></div>
            <div class="modal_contenedor modal-sm">
              <div class="modal_header">
                <h1>Registrarse</h1>
                <i class="bi bi-x" onclick="mostrarOcultarModalRegistrarse()"></i>
              </div>
              <div class="modal_body">
                <form>
                  <div class="form-group">
                    <label class="form-label">Nombre usuario:</label>
                    <input type="text" class="form-control" />
                  </div>
                  
                  <div class="form-group">
                    <label class="form-label">Correo electrónico:</label>
                    <input type="text" class="form-control" />
                  </div>
    
                  <div class="form-group">
                    <label class="form-label">Contraseña:</label>
                    <input type="text" class="form-control" />
                  </div> 
                </form>     
              </div>
              <div class="modal_footer">
                <button class="btn btn-primary">Ingresar</button>                
              </div>
            </div>
          </div>
          
          <div class="modal modal_confirmacion modal_cerrar_sesion">
            <div class="modal_backdrop" onclick="mostrarOcultarModalCerrarSesion()"></div>
            <div class="modal_contenedor modal-sm">
              <div class="modal_header">
                <h1>Cerrar Sesión</h1>
                <i class="bi bi-x" onclick="mostrarOcultarModalCerrarSesion()"></i>
              </div>
              <div class="modal_body">
                <p class="texto-centrado">
                  ¿Está seguro que desea<br>
                  cerrar sesión?
                </p>
              </div>
              <div class="modal_footer">
                <button class="btn btn-primary">Aceptar</button>
                <button class="btn btn-secundario">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="header_secundario">
        <div class="header_menu_secundario"> 
          <a href="../jugueteria/jugueteria.html">
            <i class="bi bi-truck-flatbed"></i> 
            <div>Juguetería</div>
          </a>
        </div>
        
        <div class="header_menu_secundario">
          <a href="../moda/moda.html">
            <i class="bi bi-screwdriver"></i> 
            <div>Moda</div>
          </a>
        </div>
        
        <div class="header_menu_secundario">  
          <a href="../tecnologia/tecnologia.html">
            <i class="bi bi-laptop"></i> 
            <div>Tecnologia</div>
          </a>
        </div>
        
        <div class="header_menu_secundario">
          <a href="../reposteria/reposteria.html">
            <i class="bi bi-life-preserver"></i>
            <div>Reposteria</div>
          </a>
        </div>
      </div>
    </header>
    
    <nav class="colapsado">
      <div>
        <h2>Menú opciones</h2>
        <ul>
          <li>
            <a href="../jugueteria/jugueteria.html">
              <i class="bi bi-truck-flatbed"></i> Juguetería
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../moda/moda.html">
              <i class="bi bi-screwdriver"></i> Moda
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../tecnologia/tecnologia.html">
              <i class="bi bi-laptop"></i> Tecnología
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="./reposteria.html">
              <i class="bi bi-life-preserver"></i> Repostería 
              <span>&gt;</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    <main>
      <div class="carousel">
        <div class="carousel_banners">
          <div class="carousel_banner">
            <img src="../../../assets/img/banner_reposteria.jpg">
          </div>
          <div class="carousel_banner">
            <img src="../../../assets/img/baner_jugueteria.png">
          </div>
          <div class="carousel_banner">
            <img src="../../../assets/img/banner_moda.png">
          </div>
          <div class="carousel_banner">
            <img src="../../../assets/img/banner_tecnologia.png">
          </div>
        </div>
        <div class="carousel_accion-izquierda">
          <i class="bi bi-chevron-left" onClick="mostrarAnteriorBanner()"></i>
        </div>
        <div class="carousel_accion-derecha">
          <i class="bi bi-chevron-right" onClick="mostrarSiguienteBanner()"></i>
        </div> 
      </div>
      
      <div class="pasos">
          <div class="pasos_acceso" onclick="mostrarSiguienteBanner();">
          
          </div>
          <div class="pasos_acceso" onclick="mostrarAnteriorBanner();">
          
          </div>
          <div class="pasos_acceso" onclick="mostrarSiguienteBanner();">
          
          </div>
          <div class="pasos_acceso" onclick="mostrarSiguienteBanner();">
          
          </div>
        </div>
      
      <div class="tarjetas-acceso">
        <div class="tarjeta-acceso">
          <h2>Repostería</h2>
          <p>En esta aplicación de repostería encontrarás todas las variedades de tortas que prefieres para tu familia y amigos</p>
          <button type="button" class="btn btn-primary">
            <a href="../reposteria/reposteria.html">!Has tu pedido!</a>
          </button>
          <img src="../../../assets/img/torta_chocolate_fresa.jpg">
        </div>
        
        <div class="tarjeta-acceso">
          <h2>Juguetería</h2>
          <p>En esta aplicación encontrarás mutiples juguetes para bebés y para niños con los últimos modelos</p>
          <button type="button" class="btn btn-primary">
            <a href="../jugueteria/jugueteria.html">!Has tu pedido!</a>
          </button>
          <img src="../../../assets/img/tortuga.jpg">
        </div>
        
        <div class="tarjeta-acceso">
          <h2>Tecnologia</h2>
          <p>En esta aplicacion encontrara dieferentes dispositivos moviles y laptops con las caracteristicas que usted necesita.</p>
          <button type="button" class="btn btn-primary">
            <a href="../tecnologia/tecnologia.html">!Has tu pedido!</a>
          </button>
          <img src="../../../assets/img/motog9.jpg">
        </div>
        
        <div class="tarjeta-acceso">
          <h2>Moda</h2>
          <p>En esta aplicacion encontrara dieferentes productos de belleza,ropa y accesorios la variedad que usted necesita.</p>
          <button type="button" class="btn btn-primary">
            <a href="../moda/moda.html">!Has tu pedido!</a>
          </button>
          <img src="../../../assets/img/nars.jpg">
        </div>
      </div>
    
      <div class="tarjetas-oferta">
        <div class="tarteja-oferta">
          <div class="tarjeta-oferta_descuento">
            <span>Sólo</span>
            <span class="tarjeta-oferta_descuento_hoy">HOY</span>
            <span class="tarjeta-oferta_descuento_valor">!20%<br>descuento!</span>
          </div>
          <div class="tarjeta-oferta_producto">
            <div class="tarjeta-oferta_producto_imagen">
              <img src="../../../assets/img/torta_selva_negra.jpg" />
            </div>
            <div class="tarjeta-oferta_producto_detalle">
              <span>Torta húmeda</span>
              <span class="tarjeta-oferta_producto_nombre">Torta de leche<br>de Óreo</span>
              <span class="tarjeta-oferta_producto_precio">S/. 60.25</span>
            </div>
          </div>
        </div>  
        
        <div class="tarteja-oferta">
          <div class="tarjeta-oferta_descuento">
            <span>Sólo</span>
            <span class="tarjeta-oferta_descuento_hoy">HOY</span>
            <span class="tarjeta-oferta_descuento_valor">!20%<br>descuento!</span>
          </div>
          <div class="tarjeta-oferta_producto">
            <div class="tarjeta-oferta_producto_imagen">
              <img src="../../../assets/img/motog9.jpg" />
            </div>
            <div class="tarjeta-oferta_producto_detalle">
              <span>Motorola</span>
              <span class="tarjeta-oferta_producto_nombre">Motorola<br>G9 plus</span>
              <span class="tarjeta-oferta_producto_precio">S/. 999</span>
            </div>
          </div>
        </div>  
        
        <div class="tarteja-oferta">
          <div class="tarjeta-oferta_descuento">
            <span>Sólo</span>
            <span class="tarjeta-oferta_descuento_hoy">HOY</span>
            <span class="tarjeta-oferta_descuento_valor">!20%<br>descuento!</span>
          </div>
          <div class="tarjeta-oferta_producto">
            <div class="tarjeta-oferta_producto_imagen">
              <img src="../../../assets/img/nars.jpg" />
            </div>
            <div class="tarjeta-oferta_producto_detalle">
              <span>Base</span>
              <span class="tarjeta-oferta_producto_nombre">Base de<br>larga duracion</span>
              <span class="tarjeta-oferta_producto_precio">S/. 100</span>
            </div>
          </div>
        </div>  
        
        <div class="tarteja-oferta">
          <div class="tarjeta-oferta_descuento">
            <span>Sólo</span>
            <span class="tarjeta-oferta_descuento_hoy">HOY</span>
            <span class="tarjeta-oferta_descuento_valor">!20%<br>descuento!</span>
          </div>
          <div class="tarjeta-oferta_producto">
            <div class="tarjeta-oferta_producto_imagen">
              <img src="../../../assets/img/coche.jpg" />
            </div>
            <div class="tarjeta-oferta_producto_detalle">
              <span>Coche</span>
              <span class="tarjeta-oferta_producto_nombre">Coche para<br>niñas a color</span>
              <span class="tarjeta-oferta_producto_precio">S/. 150</span>
            </div>
          </div>
        </div>         
      </div>      
    </main>
    
    <footer>
      <div class="footer_access">
        <div class="footer_menu_secundario">           
          <i class="bi bi-house"></i> 
          <b>Recojo en<br>tienda<span>&nbsp;&gt;</span></b>    
        </div>
        
        <div class="footer_menu_secundario">          
          <i class="bi bi-truck"></i> 
          <b>Delivery<br>Programado<span>&nbsp;&gt;</span></b>    
        </div>
        
        <div class="footer_menu_secundario">      
          <i class="bi bi-bicycle"></i> 
          <b>Delivery<br>Express<span>&nbsp;&gt;</span></b>
        </div>
        
        <div class="footer_menu_secundario">      
          <i class="bi bi-cash-coin"></i> 
          <b>Método de<br>pago<span>&nbsp;&gt;</span></b>          
        </div>
      </div>
      
      <div class="footer_contacto">
        <h3>Comunícate con nosotros:</h3>
        <span>Lima: <b>(01) 625-8000</b></span>
        <br>
        <span>Provincia: <b> (+51)0800-00020</b></span>
      </div>
    
      <div class="footer_siganos">
        <h3>Siguenos en:</h3>
        <a href="https://web.facebook.com/" target="_blank" title="Facebook">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank" title="Youtube">
          <i class="bi bi-youtube"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" title="Twitter">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" title="Instagram">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </footer>
    
    <script src="./inicio.js"></script>
  </body>
</html>