<div class= "jugueteria-comidas">
  <p> Listado de comidas:</p>
  <pre>{{comidas | json}}</pre>
  
  <bodoquin-jugueteria-card
    *ngFor="let comida of comidas"
    [titulo]="comida.nombre"
    [valor]="comida.precio"
    [descripcion]="comida.ingrediente"
    (clickEliminar)="eliminarComida(comida)"
    (clickEditar)="seleccionarComida(comida)"
  ></bodoquin-jugueteria-card>
  
  <form>
    <label for="nombre">Nombre:</label>
    <input
      type="text"
      name="nombre"
      id="nombre"
      [(ngModel)]="comida.nombre"
    />
    
    <label for="nombre">Precio::</label>
    <input
      type="number"
      name="precio"
      id="precio"
      [(ngModel)]="comida.precio"
    />
    
    <label for="nombre">Ingrediente:</label>
    <input
      type="text"
      name="ingrediente"
      id="ingrediente"
      [(ngModel)]="comida.ingrediente"
    />
    
    <button
      type="button"
      (click)="grabarComida()"
      >Grabar</button>
    </form>   
</div>