<div class="tecnología-detalle">  
  <div class="container">
    <div class="producto-detalle-principal row">
      <div class="producto-detalle-principal_imagen--secundario col-xl-2 col-lg-2 col-md-2 col-sm-3">
        <img src="/assets/img/{{ producto.nombreImg }}" />
      </div>
      
      <div class="producto-detalle-principal_imagen--principal col-xl-5 col-lg-5 col-md-56 col-sm-9">
        <img src="/assets/img/{{ producto.nombreImg }}" />
      </div>
      
      <div class="producto-detalle-principal_informacion col-xl-5 col-lg-5 col-md-5 col-sm-12">
        <h3>{{ producto.nombreCategoria }}</h3>
        <h1>{{ producto.nombreProducto }}</h1>            
        <p>{{ producto.descripcionProducto }}</p>

        <span class="producto-detalle-principal_informacion_precio-etiqueta">Precio</span> 
        
        <span class="producto-detalle-principal_informacion_precio">S/. {{ producto.precioProducto }}</span>
        
        <div class="producto-detalle-principal_informacion_contador">        
          <div class="producto-detalle-principal_informacion_agregar" onclick="quitarProducto()">
            <i class="bi bi-dash-lg"></i>
          </div>
        
          <div class="producto-detalle-principal_informacion_unidades">
            <span><b>{{ producto.cantidadProducto }}</b></span>
          </div>
          
          <div class="producto-detalle-principal_informacion_agregar" onclick="agregarProducto()">
            <i class="bi bi-plus-lg"></i>
          </div>
        </div>
      </div>
    </div>
        
    <div class="producto-detalle-secundario">
      <h1>Sobre este producto</h1>
      
      <!-- TABS -->
      <div class="tabs">
        <div class="tabs_header">
          <div class="tab tab--seleccionado" onClick="mostrarTab(1)">
            Especificaciones
          </div>
          
          <div class="tab" onClick="mostrarTab(2)">
            Descripción
          </div>
        </div>
        
        <div class="tabs_body">
          <div class="tab tab--seleccionado">
            Bodoquin es una aplicación web en la cual encontrarás productos de máxima calidad 
            en las categorías de moda, tecnología, juguetería y reposteria.
          </div>
          
          <div class="tab">
            Con bodoquin obtendrás grandes beneficios y descuentos cada fin de mes, 
            donde pueden haber ofertas de hasta el 70%;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>