<div class="tecnologia-detalle">  
  <div class="container">
    <div class="producto-detalle-principal row">
      <div class="producto-detalle-principal_imagen--secundario col-xl-2 col-lg-2 col-md-2 col-sm-3">
        <img src="/assets/img/{{ producto.nombreImg }}" />
      </div>
      
      <div 
        #elementoContenedorZoom 
        class="producto-detalle-principal_imagen--principal col-xl-5 col-lg-5 col-md-56 col-sm-9" 
        (mousemove)="onMouseMove($event)" 
        (mouseleave)="onMouseLeave($event)">
        
        <img #elementoImagenZoom src="/assets/img/{{ producto.nombreImg }}" />
        
      </div>
      
      <div class="producto-detalle-principal_informacion col-xl-5 col-lg-5 col-md-5 col-sm-12">
        <h3>{{ producto.nombreCategoria }}</h3>
        <h1>{{ producto.nombreProducto }}</h1>            
        <p>{{ producto.descripcionProducto }}</p>

        <span class="producto-detalle-principal_informacion_precio-etiqueta">Precio</span> 
        
        <span class="producto-detalle-principal_informacion_precio">S/. {{ producto.precioProducto }}</span>
        
        <div class="producto-detalle-principal_informacion_contador">        
          <div class="producto-detalle-principal_informacion_agregar" (click)="restarProducto()">
            <i class="bi bi-dash-lg"></i>
          </div>
        
          <div class="producto-detalle-principal_informacion_unidades">
            <span><b>{{ producto.cantidadProducto }}</b></span>
          </div>
          
          <div class="producto-detalle-principal_informacion_agregar" (click)="sumarProducto()">
            <i class="bi bi-plus-lg"></i>
          </div>
        </div>
      </div>
    </div>
        
    <div class="producto-detalle-secundario">
      <h1>Sobre este producto</h1>
      
      <bodoquin-tabs
        [titulos]="[
          'Especificaciones', 
          'Descripción'
        ]"
        [templatesTabs]="[
          templateEspecificaciones, 
          templateDescripcion
        ]">        
      </bodoquin-tabs>

      <ng-template #templateEspecificaciones>
        <div *ngFor="let especificacion of producto.especificaciones">
          - {{ especificacion }}
        </div>       
      </ng-template>

      <ng-template #templateDescripcion>
        {{ producto.descripcionProducto }}
      </ng-template>
    </div>
  </div>
</div>