.container {
  padding-top: 20px;
}

.producto-detalle-principal {
  
}

.producto-detalle-principal .producto-detalle-principal_imagen--secundario {
  padding: 10px;
} 

.producto-detalle-principal .producto-detalle-principal_imagen--secundario img {
  width: 100%;
  border: 1px solid red;
}                          
                            
.producto-detalle-principal .producto-detalle-principal_imagen--principal {
  overflow: hidden;
  height: 350px;
}                         
                            
.producto-detalle-principal .producto-detalle-principal_imagen--principal:hover img {
  width: auto;    
}                      
                            
.producto-detalle-principal .producto-detalle-principal_imagen--principal img {
  width: 100%;
}  

.producto-detalle-principal .producto-detalle-principal_informacion {
  
}

.producto-detalle-principal .producto-detalle-principal_informacion h3 {
  font-size: 18px;
}

.producto-detalle-principal .producto-detalle-principal_informacion h1 {
  font-size: 20px;
  font-weight: bold;
}

.producto-detalle-principal .producto-detalle-principal_informacion p {
  margin-bottom: 25px;
}

.producto-detalle-principal .producto-detalle-principal_informacion .producto-detalle-principal_informacion_precio-etiqueta {
  margin-left: 70px;
}

.producto-detalle-principal .producto-detalle-principal_informacion .producto-detalle-principal_informacion_precio {
  background-color: #FFF1F1;
  border-radius: 15px;
  margin-top: 10px;
  font-size: 25px;
  padding: 10px;
  color: #FF0000;
  font-weight: bold;
  margin-left: 15px;
}

.producto-detalle-principal .producto-detalle-principal_informacion .producto-detalle-principal_informacion_contador {
  margin-left: 70px;
  width: 150px;
  margin-top: 22px;
}

.producto-detalle-principal .producto-detalle-principal_informacion .producto-detalle-principal_informacion_agregar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #80A3EA;
  text-align: center;
  color: #80A3EA;
  user-select: none;
  display: inline-block;
  cursor: pointer;
}

.producto-detalle-principal .producto-detalle-principal_informacion .producto-detalle-principal_informacion_agregar i {
  position: relative;
  top: 5px;
  font-size: 16px;
}

.producto-detalle-principal .producto-detalle-principal_informacion .producto-detalle-principal_informacion_unidades {
  display: inline-block;
  width: calc(100% - 80px);
  text-align: center;
  user-select: none;
}

.producto-detalle-principal .producto-detalle-principal_informacion .producto-detalle-principal_informacion_unidades span {
  position: relative;
  top: 6px;
}

.producto-detalle-secundario {
  margin-bottom: 15px;
}

.producto-detalle-secundario h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 25px;
}