.form-group {
  margin-bottom: 15px;
  
  .form-label {
    margin-bottom: 5px;
    display: inline-block;
  }

  .form-control {
    width: 100%;
    padding-left: 10px;
    border: 1px solid #cccccc;
    font-size: 18px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  }
}

