<div class="jugueteria-servicios">
  <h1>{{ titulo }} 23:01:</h1>
  
  Normal: {{ nombre }} <br>
  Uppercase: {{ nombre | uppercase }} <br>
  Lowercase: {{ nombre | lowercase }} <br><br>
  
  Normal: {{ precio }} <br>
  Currency: {{ precio | currency:'S/ ' }} <br><br>
  
  Normal: {{ persona }} <br>
  Json: {{ persona | json }} <br><br>
  
  Normal: {{ fechaNacimiento }} <br>
  Date: {{ fechaNacimiento | date:'dd/M/yyyy' }}<br><br>

  Normal: {{ parrafo }} <br>
  Objetivo: Hola Estamos Esperando <br>
  CamelCase: {{ parrafo | camelCase }} <br>
  CamelCase: {{ parrafo | camelCase:'-' }}<br><br>
  
  Normal: {{ fechaNacimiento }} <br>
  Objetivo: Es mayor de Edad | Es menor de Edad <br>
  MayorEdad: {{ fechaNacimiento | mayorEdad }}<br><br>
  
  Normal: {{ parrafo }} <br>
  Objetivo: Tu parrafo tiene 15 caracteres<br>
  CantidadCaracteres: {{ parrafo | cantidadCaracteres }}
  <div class="servicios">
      <bodoquin-jugueteria-servicios-asistencia
        titulo="Servicios de asistencia"
        descripcion="Garantías"
        boton="Acceder"
        confirmacion="¿Está seguro que desea acceder al servicio de asitencia?"
        mensaje="Ir al servicio de asistencia general"
        [formulario]="formularioAsistencia"
        (onMensaje)="ejecutarServicio($event)"
      ></bodoquin-jugueteria-servicios-asistencia>
      
      <bodoquin-jugueteria-servicios-asistencia
        titulo="Servicios de averias"
        descripcion="Averías"
        boton="Acceder"
        confirmacion="¿Está seguro que desea acceder al servicio de averias?"
        mensaje="Ir al servicio de averias general"
        [formulario]="formularioAverias"
        (onMensaje)="ejecutarServicio($event)"
      ></bodoquin-jugueteria-servicios-asistencia>
      
      <bodoquin-jugueteria-servicios-asistencia
        titulo="Servicios de artefactos"
        descripcion="Artefactos"
        boton="Acceder"
        confirmacion="¿Está seguro que desea acceder al servicio de artefactos?"
        mensaje="Ir al servicio de artefactos general"
        [formulario]="formularioArtefactos"
        (onMensaje)="ejecutarServicio($event)"
      ></bodoquin-jugueteria-servicios-asistencia>
 
      <!-- <bodoquin-jugueteria-servicios-productos -->
        <!-- titulo="Servicios de productos" -->
        <!-- descripcion="Configuraciones" -->
        <!-- (onMensaje)="ejecutarServicio($event)" -->
      <!-- ></bodoquin-jugueteria-servicios-productos> -->
      
      <!-- <bodoquin-jugueteria-servicios-soporte -->
        <!-- titulo="Servicio de soporte" -->
        <!-- descripcion="Soporte" -->
        <!-- (onMensaje)="ejecutarServicio($event)" -->
      <!-- ></bodoquin-jugueteria-servicios-soporte> -->
  </div>
</div>