<div class="popup" [hidden]="showPopup === false">
  <div *ngIf="showBackdrop === true" class="popup_backdrop" (click)="closePopup();"></div>
  <div class="popup_flecha" [hidden]="showFlecha !== true"></div>
  <div class="popup_contenedor">
    <div class="popup_contenedor_header" *ngIf="!!templateHeader">
      <ng-template [ngTemplateOutlet]="templateHeader"></ng-template>
      <i *ngIf="showCerrar === true" class="bi bi-x popup_contenedor_header_cerrar" (click)="closePopup();"></i>
    </div>
    <div class="popup_contenedor_body" [ngStyle]="{height: heightBody}">
      <ng-template [ngTemplateOutlet]="templateBody"></ng-template>
    </div>
    <div class="popup_contenedor_footer" *ngIf="!!templateFooter">
      <ng-template [ngTemplateOutlet]="templateFooter"></ng-template>
    </div>
  </div>
</div>