.popup {
  display: inline-block;
  font-size: 16px;

  &_backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0000003b; 

    &--invisible {
      background-color: transparent;
    }
  }

  &_flecha {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    transform: translateX(-50%) rotate(46deg);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  &_contenedor {
    min-height: 50px;
    background-color: #ffffff;
    position: fixed;
    border-radius: 6px;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 5px #cccccc;
    top: 0px;
    left: 0px;
    transform: translateX(-80%);
    text-align: initial;
    z-index: 2;
    transform-origin: bottom right;

    &_header {
      width: 100%;
      padding: 12px;
      text-align: center;
      border-bottom: 1px solid #ECECEC;
      box-shadow: 0px 4px 4px rgb(204 204 204 / 25%);
      position: relative;
      
      &_cerrar {
        position: absolute;
        right: 5px;
        font-size: 25px;
        cursor: pointer;
        top: 0;
      }
    }

    &_body {
      min-height: 100px;
      min-width: 260px;
    }

    &_footer {
      padding: 10px;
      border-top: 1px solid #ececec;
    }
  }

  .popup_in {
    animation-name: popup_animacion_in;
    opacity: 1;
    animation-duration: 300ms;
  }
  
  .popup_out {
    animation-name: popup_animacion_out;
    opacity: 0;
    animation-duration: 300ms;
  }
  
  @keyframes popup_animacion_in {
    0% { 
      opacity: 0;
      transform: scale(0);
    }
    50% {
      transform: scale(1.05);
    }
    100% { 
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes popup_animacion_out {
    0% { 
      opacity: 1;
      transform: scale(1);
    }
    100% { 
      opacity: 0;
      transform: scale(0);
    }
  }
}