<div class= "jugueteria-alumnos">
  <p> Listado de alumnos:</p>
  <pre>{{ alumnos | json}}</pre>
  
  <bodoquin-jugueteria-card
    *ngFor="let alumno of alumnos"
    [titulo]="alumno.nombre"
    [valor]="alumno.edad"
    [descripcion]="alumno.color"
    (clickEliminar)="eliminarAlumno(alumno)"
    (clickEditar)="seleccionarAlumno(alumno)"
  ></bodoquin-jugueteria-card>
  
 <form>
    <label for="nombre">Nombre:</label>
    <input
      type="text"
      name="nombre"
      id="nombre"
      [(ngModel)]="alumno.nombre"
    />
    
    <label for="nombre">Edad::</label>
    <input
      type="number"
      name="edad"
      id="edad"
      [(ngModel)]="alumno.edad"
    />
    
    <label for="nombre">Color:</label>
    <input
      type="text"
      name="color"
      id="color"
      [(ngModel)]="alumno.color"
    />
    
    <button
      type="button"
      (click)="grabarAlumno()"
      >Grabar</button>
    </form>   
</div>