<div class="header_secundario row">
  <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3" routerLinkActive="header_menu_secundario--seleccionado"> 
    <a routerLink="/jugueteria">
      <i class="bi bi-truck-flatbed"></i> 
      <div>Juguetería</div>
    </a>
  </div>
  
  <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3" routerLinkActive="header_menu_secundario--seleccionado">
    <a routerLink="/moda">
      <i class="bi bi-screwdriver"></i> 
      <div>Moda</div>
    </a>
  </div>
  
  <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3" routerLinkActive="header_menu_secundario--seleccionado">  
    <a routerLink="/tecnologia">
      <i class="bi bi-laptop"></i> 
      <div>Tecnologia</div>
    </a>
  </div>
  
  <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3" routerLinkActive="header_menu_secundario--seleccionado">
    <a routerLink="/reposteria">
      <i class="bi bi-life-preserver"></i>
      <div>Reposteria</div>
    </a>
  </div>
</div>