body {
  margin: 0;
}

@font-face {
  font-family: roboto;
  src: url(../../../assets/fonts/Roboto/Roboto-Light.ttf);
}

* {
  font-family: roboto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffd51d;
  z-index: 2;
}

main {
    margin-top: 171px;
}
  
main {
    margin-top: 210px;
}

body.con-scroll main {
  padding-top: 0px;
}

.header_principal {
  padding: 10px;
}

.header_secundario {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0px 2px 5px 0px #cccccc;
  padding: 10px 0;
  text-align: center;
}

body.con-scroll .header_secundario {
  display: none;
}

.header_secundario .header_menu_secundario {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 4px;
}

.header_secundario .header_menu_secundario:hover {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding-bottom: 4px;
}

.header_secundario .header_menu_secundario a {
  text-decoration: none;
  color: #000000;
}

.header_secundario .header_menu_secundario i {
  font-size: 25px;
}

.header_menu_secundario--seleccionado {
  border-bottom: 3px solid #80a3ea;
}

.header_menu {
  color: #ffffff;
  font-size: 28px;
  vertical-align: middle;
  cursor: pointer;
}

.header_titulo {
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  vertical-align: middle;
}

.header_titulo a {
  text-decoration: none;
  color: #ffffff;
}

.header_acciones_notificacion {
  position: relative;
}

.header_notificacion {
  width: 20px;
  height: 20px;
  background-color: #FF0000;
  color: #ffffff;
  text-align: center;
  padding-top: 0px;
  border-radius: 50%;
}

.header_notificacion-principal {
  position: absolute;
  top: -15px;
  right: -3px;
}

.header_busqueda {
  position: relative;
}

.header_busqueda input {
  width: 300px;
  height: 38px;
  border: none;
  outline: none;
  padding-left: 35px;
  border-radius: 20px;
}

.header_busqueda i {
  position: absolute;
  left: 10px;
  top: 0px;
}

.header_acciones {
  text-align: right;
  padding-top: 5px;
}

.header_acciones i {
  font-size: 28px;
  color: #ffffff;
  margin-left: 18px;
  cursor: pointer;
}

.header_acciones .header_acciones_usuario {
  position: relative;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0000003b;
  display: none;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_flecha {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  transform: rotate(46deg);
  position: absolute;
  right: 6px;
  top: 29px;
  z-index: 1;
  display: none;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup {
  width: 260px;
  min-height: 50px;
  background-color: #ffffff;
  position: absolute;
  right: -15px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  top: 35px;
  display: none;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup ul {
  padding-left: 20px;
  padding-right: 20px;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup ul li {
  list-style-type: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #cccccc;
  cursor: pointer;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup ul li i {
  color: #000000;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.header_acciones .header_acciones_usuario .header_acciones_usuario_popup ul li span {
 vertical-align: middle;
}

.header_acciones .modal_inicio_sesion {
  display: none;
}

.header_acciones .modal_registrarse {
  display: none;
}

.header_acciones .modal_cerrar_sesion {
  display: none;
}

nav {
  position: fixed;
  top: 62px;
  width: 270px;
  height: 100%;
  background-color: #F0F5FF;
  z-index: 2;
  box-shadow: 3px 1px 6px 0px #cccccc;
  transition: transform 0.5s;
}

nav.colapsado {
  transform: translateX(-275px);
}

nav h2 {
  font-size: 18px;
  background-color: #FFF1F1;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #FF0000;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  padding: 20px 35px;
  border-bottom: 1px solid #80A3EA;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

nav ul li i {
  font-size: 20px;
}

nav ul li.nav_menu--seleccionado {  
  background-color: #dee6f5;
}

nav ul li.nav_menu--seleccionado a {
  font-weight: bold;
  color: #264fa0;
}

nav ul li span {
  float: right;
  margin-top: 4px;
  display: none;
}

nav ul li.nav_menu--seleccionado span {
  display: initial;
}

.tarjetas {
  padding: 15px;
  background-color: #ffd51d2b;
}

.tarjetas .tarjeta2 {
  border: 1px solid #dddcdc;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #ffffff;
}

.tarjetas .tarjeta2:hover {
  box-shadow: 1px 1px 5px #cccccc;
}

.tarjetas .tarjeta2 .tarjeta2_header {
  padding: 15px 30px;
  text-align: center;
}

.tarjetas .tarjeta2 .tarjeta2_header img {
  width: 100%;
  height: 180px;
  max-width: 255px;
}

.tarjetas .tarjeta2 .tarjeta2_body {
  padding: 0 15px;
}

.tarjetas .tarjeta2 .tarjeta2_body p {
  margin-left: 15px;
  height: 70px;
  margin-bottom: 10px;
}

.tarjetas .tarjeta2 .tarjeta2_body .tarjeta2_body_precio {
  color: #FF0000;
  font-weight: bold;
  font-size: 24px;
}

.tarjetas .tarjeta2 .tarjeta2_footer {
  padding: 15px;
}

.tarjetas .tarjeta2 .tarjeta2_footer button {
  background-color: #ffffff;
  border: 1px solid #80A3EA;
  width: 100%;
  height: 35px;
  color: #80A3EA;
  font-weight: bold;
}

.tarjetas .tarjeta2:hover .tarjeta2_footer button {
  background-color: #80A3EA;
  color: #ffffff;
}
  

.tarjeta {
  border: 1px solid #ccc;
  box-shadow: 3px 4px #ccc;  
  background-color: #9098b514;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.tarjeta h1 {
  color: #e32d8b;
}

.tarjeta h3 {
  color: blue;
  font-size: 20px;
}

.tarjeta h3 span:hover {
  background-color: red;
}

.tarjeta h1 span {
  position: relative;
}

.tarjeta .tarjeta_producto {
  color: green;
}

.tarjeta:first-child .tarjeta_producto {
  font-size: 20px;
}

.tarjeta:nth-child(2) .tarjeta_producto {
  font-style: oblique;
}

.tarjeta_burbuja {
  position: absolute;
  top: -9px;
  right: -19px;
  font-size: 17px;
}

input:disabled {
  border: 1px solid red;
}

table {
  width: 100%;
}

table td {
  width: 50%;
}

table td img {
  width: 100%;
}

footer {
  border-top: 1px solid #e8e8e8;
}

.footer_access {
  width: 100%;
  font-size: 18px;
  border-bottom: 1px solid #ffffff;
  padding: 30px 0;
  text-align: center;
}

.footer_access .footer_menu_secundario {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 4px;
  font-size: 16px;
}

.footer_access .footer_menu_secundario span {
  float : right;
  color : #8a8df6;
}

.footer_access .footer_menu_secundario i {
  font-size: 60px;
  color: #8a8df6;
  display: inline-block;
  vertical-align: middle;
}

.footer_access .footer_menu_secundario b {
  display: inline-block;
  color: #8b8b8b;
  vertical-align: middle;
}

.footer_access .footer_menu_secundario:hover {
  background-color: #F6F6F6;
}

.footer_contacto {
  background-color: #F6F6F6;
  width: calc(50% - 45px);
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #D1D1D1;
  padding: 20px;
  height: 85px;
}

.footer_contacto h3 {
  margin-top: 0;
}

.footer_siganos {
  background-color: #F6F6F6;
  width: calc(50% - 40px);
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  height: 85px;
}

.footer_siganos h3 {
  margin-top: 0;
}

.footer_siganos i {
  color: #80a3ea;
  font-size: 25px;
  margin-right: 10px;
}

/***** ESTILOS PARA MODAL *****/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.modal .modal_backdrop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
}

.modal .modal_contenedor {
  min-height: 100px;
  margin-top: 50px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
}

.modal .modal_contenedor .modal_header {
  width: calc(100% - 20px);
  padding: 10px;
  border-bottom: 1px solid #ececec;
}

.modal .modal_contenedor .modal_header h1 {
  margin: 0;
  font-size: 22px;
  text-align: center;
}

.modal .modal_contenedor .modal_header i {
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
}

.modal .modal_contenedor .modal_body {
  min-height: 50px;
  width: calc(100% - 30px);
  padding: 10px 15px;
}

.modal .modal_contenedor .modal_footer {
  width: calc(100% - 30px);
  padding: 10px 15px;
  border-top: 1px solid #ececec;
  text-align: center;
}

.modal.modal_confirmacion .modal_footer button {
  width: 45%;
}

.modal .modal-sm {
  width: 300px;
}

.modal .modal-md {
  width: 450px;
}

.modal .modal-lg {
  width: 700px;
}

.modal .modal-xl {
  width: 950px;
}
/**********************************/

/**** ESTILOS PARA FORMULARIO *****/
.form-group {
  margin-bottom: 15px;
}

.form-group .form-label {
  margin-bottom: 5px;
  display: inline-block;
}

.form-group .form-control {
  width: calc(100% - 14px);
  height: 34px;
  padding-left: 10px;
  border: 1px solid #cccccc;
  font-size: 18px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
/**********************************/

/******* ESTILOS PARA BOTONES *****/
.btn {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: .25rem;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
}

.btn.btn-primary {  
  background-color: #80A3EA;
  color: #ffffff;
}
/**********************************/

/**** ESTILOS PARA ALINEACION *****/
.texto-centrado {
  text-align: center;
}
.texto-izquierda {
  text-align: left;
}
.texto-derecha {
  text-align: right;
}
/**********************************/

/***** CLASES RESPONSIVES *******/

@media (max-width: 768px) {
  /*CELULAR*/
  .col-sm-1 {
    width: calc(100% / calc(12/1) - 16px);
  }
  .col-sm-2 {
    width: calc(100% / calc(12/2) - 16px);
  }
  .col-sm-3 {
    width: calc(100% / calc(12/3) - 16px);
  }
  .col-sm-4 {
    width: calc(100% / calc(12/4) - 16px);
  }
  .col-sm-5 {
    width: calc(100% / calc(12/5) - 16px);
  }
  .col-sm-6 {
    width: calc(100% / calc(12/6) - 16px);
  }
  .col-sm-7 {
    width: calc(100% / calc(12/7) - 16px);
  }
  .col-sm-8 {
    width: calc(100% / calc(12/8) - 16px);
  }
  .col-sm-9 {
    width: calc(100% / calc(12/9) - 16px);
  }
  .col-sm-10 {
    width: calc(100% / calc(12/10) - 16px);
  }
  .col-sm-11 {
    width: calc(100% / calc(12/11) - 16px);
  }
  .col-sm-12 {
    width: calc(100% / calc(12/12) - 16px);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /*TABLET VETICAL*/
  .col-md-1 {
    width: calc(100% / calc(12/1) - 16px);
  }
  .col-md-2 {
    width: calc(100% / calc(12/2) - 16px);
  }
  .col-md-3 {
    width: calc(100% / calc(12/3) - 16px);
  }
  .col-md-4 {
    width: calc(100% / calc(12/4) - 16px);
  }
  .col-md-5 {
    width: calc(100% / calc(12/5) - 16px);
  }
  .col-md-6 {
    width: calc(100% / calc(12/6) - 16px);
  }
  .col-md-7 {
    width: calc(100% / calc(12/7) - 16px);
  }
  .col-md-8 {
    width: calc(100% / calc(12/8) - 16px);
  }
  .col-md-9 {
    width: calc(100% / calc(12/9) - 16px);
  }
  .col-md-10 {
    width: calc(100% / calc(12/10) - 16px);
  }
  .col-md-11 {
    width: calc(100% / calc(12/11) - 16px);
  }
  .col-md-12 {
    width: calc(100% / calc(12/12) - 16px);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /*TABLET HORIZONTAL*/
  .col-lg-1 {
    width: calc(100% / calc(12/1) - 16px);
  }
  .col-lg-2 {
    width: calc(100% / calc(12/2) - 16px);
  }
  .col-lg-3 {
    width: calc(100% / calc(12/3) - 16px);
  }
  .col-lg-4 {
    width: calc(100% / calc(12/4) - 16px);
  }
  .col-lg-5 {
    width: calc(100% / calc(12/5) - 16px);
  }
  .col-lg-6 {
    width: calc(100% / calc(12/6) - 16px);
  }
  .col-lg-7 {
    width: calc(100% / calc(12/7) - 16px);
  }
  .col-lg-8 {
    width: calc(100% / calc(12/8) - 16px);
  }
  .col-lg-9 {
    width: calc(100% / calc(12/9) - 16px);
  }
  .col-lg-10 {
    width: calc(100% / calc(12/10) - 16px);
  }
  .col-lg-11 {
    width: calc(100% / calc(12/11) - 16px);
  }
  .col-lg-12 {
    width: calc(100% / calc(12/12) - 16px);
  }
}

@media (min-width: 1200px) {
  /*TABLET HORIZONTAL*/  
  .col-xl-1 {
    width: calc(100% / calc(12/1) - 16px);
  }
  .col-xl-2 {
    width: calc(100% / calc(12/2) - 16px);
  }
  .col-xl-3 {
    width: calc(100% / calc(12/3) - 16px);
  }
  .col-xl-4 {
    width: calc(100% / calc(12/4) - 16px);
  }
  .col-xl-5 {
    width: calc(100% / calc(12/5) - 16px);
  }
  .col-xl-6 {
    width: calc(100% / calc(12/6) - 16px);
  }
  .col-xl-7 {
    width: calc(100% / calc(12/7) - 16px);
  }
  .col-xl-8 {
    width: calc(100% / calc(12/8) - 16px);
  }
  .col-xl-9 {
    width: calc(100% / calc(12/9) - 16px);
  }
  .col-xl-10 {
    width: calc(100% / calc(12/10) - 16px);
  }
  .col-xl-11 {
    width: calc(100% / calc(12/11) - 16px);
  }
  .col-xl-12 {
    width: calc(100% / calc(12/12) - 16px);
  }
}

[class*="col-"] {
  display: inline-block;
}

/*****************************************/