<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="./juguetes.css"/>
     <link rel="stylesheet" href="../../../assets/icons/bootstrap/bootstrap-icons.css">
  </head>
  <body onscroll="detectarScroll()">
    <header>
      <div class="header_principal">
        <i class="bi bi-list header_menu" onClick="colapsarExpandirMenu();"></i>
        <h1 class="header_titulo">
          Juguetería 
        </h1>
        <span class="header_busqueda">
          <input type="text" placeholder="HOLA ,¿QUE ESTAS BUSCANDO?">
          <i class="bi bi-search"></i>
        </span>
        <div class="header_acciones">
          <span class="header_acciones_notificacion">
            <i class="bi bi-bell-fill"></i>
            <div class="header_notificacion header_notificacion-principal">3</div>   
          </span>     
          <i class="bi bi-person-fill"></i>
        </div>
      </div>
      
      <div class="header_secundario">
        <div class="header_menu_secundario header_menu_secundario--seleccionado"> 
          <a href="../Jugueteria/juguetes.html">
            <i class="bi bi-truck-flatbed"></i> 
            <div>Juguetería</div>
          </a>
        </div>
        
        <div class="header_menu_secundario">
          <a href="../moda/moda.html">
            <i class="bi bi-screwdriver"></i> 
            <div>Moda</div>
          </a>
        </div>
        
        <div class="header_menu_secundario">  
          <a href="../tecnologia/tecnologia.html">
            <i class="bi bi-laptop"></i> 
            <div>Tecnologia</div>
          </a>
        </div>
        
        <div class="header_menu_secundario">
          <a href="../reposteria/reposteria.html">
            <i class="bi bi-life-preserver"></i>
            <div>Reposteria</div>
          </a>
        </div>
      </div>
    </header>
          
    <nav class="colapsado">
      <div>
        <h2>Menú opciones</h2>
        <ul>
          <li>
            <a href="./juguetes.html">
              <i class="bi bi-truck-flatbed"></i> Juguetería
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../moda/moda.html">
              <i class="bi bi-screwdriver"></i> Moda
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../tecnologia/tecnologia.html">
              <i class="bi bi-laptop"></i> Tecnología
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../reposteria/reposteria.html">
              <i class="bi bi-life-preserver"></i> Repostería 
              <span>&gt;</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    <main>  
      <div class="tarjetas">
        <div class="tarjeta2"> 
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/piano.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Juguetes</span><br>
            <span><b>0-2</b></span>
            <p>Piano para bebes de deferentes colores y sonidos para un mejor aprendizaje</p>
            <span class="tarjeta2_body_precio">S/. 50.00</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/tortuga.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Juguetes</span><br>
            <span><b>0-2</b></span>
            <p>Totuga musical con canciones en ingles y español</p>
            <span class="tarjeta2_body_precio">S/. 40.25</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>

        <div class="tarjeta2"> 
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/coche.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Coche</span><br>
            <span><b>2-4</b></span>
            <p>coche para niñas con diferentes diseños</p>
            <span class="tarjeta2_body_precio">S/. 80.25</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/muñeco.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Juguetes</span><br>
            <span><b>2-4</b></span>
            <p>muñeca con chupon que llora</p>
            <span class="tarjeta2_body_precio">S/. 45.75</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
      </div>
          <h2>
            <span>
              Juguetes
              <div class="diseño tarjeta_diseño">5</div>
            </span>
          </h2>
          
          <h3><span>Juguetes de 0-2</span></h3>
          <table>
            <thead>
              <tr>
                <th>
                    <a
                      class="tarjeta_producto"
                      href="https://www.google.com/"
                      target="_blank"><span>piano</span></a>
                </th>
                <th>
                    <a
                      class="tarjeta_producto"
                      href="https://www.facebook.com/"
                      target="_blank"><span>juguete tortuga</span></a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <img 
                      width="200px"
                      height="150px"
                      src="../../../assets/img/piano.jpg"/>
                </td>
                <td>
                    <img 
                        width="200px" 
                        height="150px"
                        src="../../../assets/img/tortuga.jpg"/>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
        <div class="tarjeta">
          <h2>Juguetes </h2>
          <h3><span>juguetes 3-5</span></h3> 

          <br/>
          <table>
            <thead>
              <tr>
                <th>
                    <a
                      class="tarjeta_producto"
                      href="https://www.google.com/"
                      target="_blank"><span>muñeco</span></a>
                </th>
                <th>
                    <a
                      class="tarjeta_producto"
                      href="https://www.facebook.com/"
                      target="_blank"><span>coche</span></a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <img 
                      width="200px"
                      height="150px"
                      src="../../../assets/img/muñeco.jpg"/>
                </td>
                <td>
                    <img 
                      width="200px"
                      height="150px"
                      src="../../../assets/img/coche.jpg"/>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="tarjeta">
          <h1>Pedidos:</h1>

          <form>
            <label>Nombre postre*: </label>
            <input type="text" />
            
            <br/>
            
            <label>Cantidad*: </label>
            <input type="text" />
            
            <br/>
            
            <label>Correo*: </label>
            <input type="text" />
            
            <br/>
            
            <label>Departamento: </label>
            <select>
              <option>Lima</option>
              <option>Callao</option>
              <option>Cuzco</option>
            <select>
            
            <br/>
            
            <label>Distrito: </label>
            <select name="distrito">
              <option>Villa Maria</option>
              <option>CSan juan de miraflores</option>
              <option>Independencia</option>
            </select>
            
            <br/>
            
            <label>Comentario: </label>
            <textarea name="comentario"></textarea>
            
            <br/> <br/>
            <button"onClick="realizarPedido();">Realizar pedido</button>
          </form>
          
          <br/><br/>
        </div>
        
        <div class="tarjeta">
          <h2>Socios bodoquin: </h2>      
          
          <table>
            <thead>
              <tr>
                <th>N°</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Nombres</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Rosales</td>
                <td>Maldonado</td>
                <td>Ricardo Alfredo</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Rosales</td>
                <td>Maldonado</td>
                <td>David Daniel</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Rosales</td>
                <td>Maldonado</td>
                <td>Robert</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    
    <footer>
      <div class="footer_contacto">
        <h3>Comunícate con nosotros:</h3>
        <span>Lima: <b>(01) 625-8000</b></span>
        <br>
        <span>Provincia: <b> (+51)0800-00020</b></span>
      </div>
    
      <div class="footer_siganos">
        <h3>Siguenos en:</h3>
        <a href="https://web.facebook.com/" target="_blank" title="Facebook">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank" title="Youtube">
          <i class="bi bi-youtube"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" title="Twitter">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" title="Instagram">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </footer>
    
    <script src="./juguetes.js"></script>
   </body>
</html>