<div class="electrodomesticos-servicios">
  <h1>Hola estas en electrodomesticos servicios</h1>
  
  <div class="servicios">    
    <bodoquin-panel-servicios 
      titulo="Soporte Electrodomesticos"
      descripcion="Soporte"
      boton="Acceder"
      confirmacion="¿Está seguro que desea acceder al servicio de soporte?"
      mensaje="Ir al servicio de soporte"
      [controles]="formularioSoporte"      
    ></bodoquin-panel-servicios>
    
    <bodoquin-panel-servicios 
      titulo="garantia"
      descripcion="Garantia"
      boton="Acceder"
      confirmacion="¿Está seguro que desea acceder al servicio de garantia?"
      mensaje="Ir al servicio de garantia"
      [controles]="formularioGarantia"      
    ></bodoquin-panel-servicios>
  </div>
</div>
