<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet"    href="./moda.css"/> 
      <link rel="stylesheet" href="../../../assets/icons/bootstrap/bootstrap-icons.css">
  </head>
  <body>
     <header>
      <div class="header_principal">
        <i class="bi bi-list header_menu" onclick="colapsarExpandirMenu();"></i>
        <h1 class="header_titulo">
          Repostería 
        </h1>
        <span class="header_busqueda">
          <input type="text" placeholder="HOLA ,¿QUE ESTAS BUSCANDO?">
          <i class="bi bi-search"></i>
        </span>
        <div class="header_acciones">
          <span class="header_acciones_notificacion">
            <i class="bi bi-bell-fill"></i>
            <div class="header_notificacion header_notificacion-principal">3</div>   
          </span>
          <i class="bi bi-person-fill"></i>
        </div>
      </div>
      
      <div class="header_secundario">
        <div class="header_menu_secundario"> 
          <a href="../Jugueteria/juguetes.html">
            <i class="bi bi-truck-flatbed"></i> 
            <div>Juguetería</div>
          </a>
        </div>
        
        <div class="header_menu_secundario">
          <a href="../moda/moda.html">
            <i class="bi bi-screwdriver"></i> 
            <div>Moda</div>
          </a>
        </div>
        
        <div class="header_menu_secundario">  
          <a href="../tecnologia/tecnologia.html">
            <i class="bi bi-laptop"></i> 
            <div>Tecnologia</div>
          </a>
        </div>
        
        <div class="header_menu_secundario">
          <a href="../reposteria/reposteria.html">
            <i class="bi bi-life-preserver"></i>
            <div>Reposteria</div>
          </a>
        </div>
      </div>
    </header>
    
    <nav class="colapsado">
      <div>
        <h2>Menú opciones</h2>
        <ul>
          <li>
            <a href="../Jugueteria/juguetes.html">
              <i class="bi bi-truck-flatbed"></i> Juguetería
              <span>&gt;</span>
            </a>
          </li>
          <li class="nav_menu--seleccionado">
            <a href="./moda.html">
              <i class="bi bi-screwdriver"></i> Moda
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../tecnologia/tecnologia.html">
              <i class="bi bi-laptop"></i> Tecnología
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../reposteria/reposteria.html">
              <i class="bi bi-life-preserver"></i> Repostería 
              <span>&gt;</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    <main>
     <span class="oferta"></span>
      
      <div>
        <div class="tarjeta">
          <h1>
            <span>
              MAQUILLAJE
              <div class="burbuja tarjeta_burbuja"></div>
            </span>
          </h1>
        
          <table>
            <thead>
             <tr>
              <th>
                <a 
                class="tarjeta_producto"
                target="_blank">
                 <span> Paleta de Sombras </span>
                </a> 
              </th>
              <th>
                <a 
                class="tarjeta_producto"
                target="blank"><span> Bases </span>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  width="200px"
                  height="150px"
                  src="../../../assets/img/carnivalxl.jpg" />
              </td>
              <td>
                <img 
                  width="200px" 
                  height="150px" 
                  src="../../../assets/img/nars.jpg" />
              </td>
            </tr>
          </tbody>
        </table>
        
        <br/>
      </div>
          
      <div class="tarjeta">
        <h1>
          <span>
            MODA
            <div class="burbuja tarjeta_burbuja"></div>
          </span>
        </h1>
        
      <table>
        <thead>
          <tr>
            <th>    
             <a class="tarjeta_producto"
                target="_blank"><span> CASACAS </span></a> 
                     
            </th>
            <th>
              <a 
                class="tarjeta_producto"
                target="blank"><span> JEANS</span></a>
                 </th>
              </tr>
            </thead>
            <tbody>
               <tr>
                 <td>
                   <img
                    width="200px"
                  height="150px"
                  src="../../../assets/img/casaca.jpg" />
                  </td>
                 <td>
                   <img 
                     width="200px" 
                     height="150px" 
                     src="../../../assets/img/barclayjeans.jpg" />
                 </td>
               </tr>
            </tbody>
          </table>
          
        </div>
        <br/><br/><br/>
      <div class="tarjeta">
        <h1>
          <span> 
           ACCESORIOS
              <div class="burbuja tarjeta_burbuja">
              </div>
              
            
          </span>
        </h1>
      <table>
        <thead>
          <tr>
            <th>    
             <a class="tarjeta_producto"
                target="_blank"><span> ANILLOS </span></a> 
                     
            </th>
            <th>
              <a 
                class="tarjeta_producto"
                target="blank"><span> LENTES</span></a>
                 </th>
              </tr>
            </thead>
            <tbody>
               <tr>
                 <td>
                   <img
                    width="200px"
                  height="150px"
                  src="../../../assets/img/setdeanillos.jpg" />
                  </td>
                 <td>
                   <img 
                     width="200px" 
                     height="150px" 
                     src="../../../assets/img/sunglassesaesthetic.jpg" />
                 </td>
               </tr>
            </tbody>
          </table>
          
           <p>
            Esta aplicación se ha realizado gracias a la colaboración de nuestro desarrolladores expertos
          </p>
        </div>
      </div>
    </main>
    
    <footer>
      <!-- datos de contactabilidad -->
    </footer>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
    <script src="./moda.js"></script>
  </body>
</html>
        