body {
  margin: 0;
}

@font-face {
  font-family: roboto;
  src: url(../../../assets/fonts/Roboto/Roboto-Light.ttf);
}

* {
  font-family: roboto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #80a3ea;
  z-index: 2;
}

main {
  margin-top: 102px;
  padding-top: 45px;
}

body.con-scroll main {
  padding-top: 0px;
}

.header_principal {
  padding: 10px;
}

.header_secundario {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0px 2px 5px 0px #cccccc;
  padding: 10px;
  text-align: center;
}

body.con-scroll .header_secundario {
  display: none;
}

.header_secundario .header_menu_secundario {
  width: 90px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 4px;
}

.header_secundario .header_menu_secundario:hover {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding-bottom: 4px;
}

.header_secundario .header_menu_secundario a {
  text-decoration: none;
  color: #000000;
}

.header_secundario .header_menu_secundario i {
  font-size: 25px;
}

.header_menu_secundario--seleccionado {
  border-bottom: 3px solid #80a3ea;
}

.header_menu {
  color: #ffffff;
  font-size: 28px;
  vertical-align: middle;
  cursor: pointer;
}

.header_titulo {
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  vertical-align: middle;
}

.header_acciones_notificacion {
  position: relative;
}

.header_notificacion {
  width: 20px;
  height: 20px;
  background-color: #FF0000;
  color: #ffffff;
  text-align: center;
  padding-top: 0px;
  border-radius: 50%;
}

.header_notificacion-principal {
  position: absolute;
  top: -15px;
  right: -3px;
}

.header_busqueda {
  position: relative;
}

.header_busqueda input {
  width: 300px;
  height: 38px;
  border: none;
  outline: none;
  padding-left: 35px;
  border-radius: 20px;
}

.header_busqueda i {
  position: absolute;
  left: 10px;
  top: 0px;
}

.header_acciones {
  float: right;
  width: 120px;
  padding-top: 5px;
}

.header_acciones i {
  font-size: 28px;
  color: #ffffff;
  margin-left: 18px;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 62px;
  width: 270px;
  height: 100%;
  background-color: #F0F5FF;
  z-index: 2;
  box-shadow: 3px 1px 6px 0px #cccccc;
  transition: transform 0.5s;
}

nav.colapsado {
  transform: translateX(-275px);
}

nav h2 {
  font-size: 18px;
  background-color: #FFF1F1;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #FF0000;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  padding: 20px 35px;
  border-bottom: 1px solid #80A3EA;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}

nav ul li i {
  font-size: 20px;
}

nav ul li.nav_menu--seleccionado {  
  background-color: #dee6f5;
}

nav ul li.nav_menu--seleccionado a {
  font-weight: bold;
  color: #264fa0;
}

nav ul li span {
  float: right;
  margin-top: 4px;
  display: none;
}

nav ul li.nav_menu--seleccionado span {
  display: initial;
}

.tarjetas {
  padding: 0 10px;
}

.tarjetas .tarjeta2 {
  width: 320px;
  border: 1px solid #dddcdc;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.tarjetas .tarjeta2:hover {
  box-shadow: 1px 1px 5px #cccccc;
}


.tarjetas .tarjeta2 .tarjeta2_header {
   padding: 15px 30px;
}

.tarjetas .tarjeta2 .tarjeta2_header img {
  width: 100%;
  height: 180px;
}

.tarjetas .tarjeta2 .tarjeta2_body {
  padding: 0 15px;
}

.tarjetas .tarjeta2 .tarjeta2_body p {
  margin-left: 15px;
}

.tarjetas .tarjeta2 .tarjeta2_body .tarjeta2_body_precio {
  color: #FF0000;
  font-weight: bold;
  font-size: 24px;
}

.tarjetas .tarjeta2 .tarjeta2_footer {
  padding: 15px;
}

.tarjetas .tarjeta2 .tarjeta2_footer button {
  background-color: #ffffff;
  border: 1px solid #80A3EA;
  width: 100%;
  height: 35px;
  color: #80A3EA;
  font-weight: bold;
}

.tarjetas .tarjeta2:hover .tarjeta2_footer button {
  background-color: #80A3EA;
  color: #ffffff;
}
  

.tarjeta {
  border: 1px solid #ccc;
  box-shadow: 3px 4px #ccc;  
  background-color: #9098b514;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.tarjeta h1 {
  color: #e32d8b;
}

.tarjeta h3 {
  color: blue;
  font-size: 20px;
}

.tarjeta h3 span:hover {
  background-color: red;
}

.tarjeta h1 span {
  position: relative;
}

.tarjeta .tarjeta_producto {
  color: green;
}

.tarjeta:first-child .tarjeta_producto {
  font-size: 20px;
}

.tarjeta:nth-child(2) .tarjeta_producto {
  font-style: oblique;
}

.tarjeta_burbuja {
  position: absolute;
  top: -9px;
  right: -19px;
  font-size: 17px;
}

input:disabled {
  border: 1px solid red;
}

table {
  width: 100%;
}

table td {
  width: 50%;
}

table td img {
  width: 100%;
}

footer {
  background-color: #F6F6F6;
  padding: 20px;
  border-top: 1px solid #e8e8e8;
}

.footer_contacto {
  width: calc(50% - 5px);
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #D1D1D1;
}

.footer_contacto h3 {
  margin-top: 0;
}

.footer_siganos {
  width: calc(50% - 20px);
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
}

.footer_siganos h3 {
  margin-top: 0;
}

.footer_siganos i {
  color: #80a3ea;
  font-size: 25px;
  margin-right: 10px;
}