<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet"    href="./moda.css"/> 
      <link rel="stylesheet" href="../../../assets/icons/bootstrap/bootstrap-icons.css">
  </head>
  <body onscroll="detectarScroll()">
    <header>
      <div class="header_principal">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <i class="bi bi-list header_menu" onclick="colapsarExpandirMenu();"></i>
          <h1 class="header_titulo">
            <a href="../inicio/inicio.html">Inicio</a>
          </h1>
          <span class="header_busqueda">
            <input type="text" placeholder="HOLA ,¿QUE ESTAS BUSCANDO?">
            <i class="bi bi-search"></i>
          </span>
        </div>
        <div class="header_acciones header_acciones col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <span class="header_acciones_carrito">
            <i class="bi bi-cart-check" onclick="mostrarOcultarPopup('.popup_carrito');"></i>
            <div class="header_notificacion header_notificacion-principal">3</div>   
            
            <div class="popup popup_carrito">
              <div class="popup_backdrop" onclick="mostrarOcultarPopup('.popup_carrito');"></div>
              <div class="popup_flecha"></div>
              <div class="popup_contenedor">
                <div class="popup_header">
                  Tienes agregados <b>0</b> productos
                </div>
                <div class="popup_body">
                  <div class="carrito_productos">  
                  
                  </div>
                    
                  <div class="carrito_total">
                    <span>Sub Total:</span>
                    <span class="carrito_total_monto">S/. 0</span>
                  </div>  
                </div>
                <div class="popup_footer">
                  <button class="btn btn-primary">Continuar</button>
                </div>
              </div>
            </div>
          </span>
          
          <span class="header_acciones_usuario">              
            <i class="bi bi-person-fill" onclick="mostrarOcultarUsuarioPopup();"></i>
            <div class="header_acciones_usuario_backdrop" onclick="mostrarOcultarUsuarioPopup();"></div>            
            <div class="header_acciones_usuario_flecha"></div>            
            <div class="header_acciones_usuario_popup">
              <ul>
                <li onClick="mostrarOcultarModalInicioSesion(); mostrarOcultarUsuarioPopup();">
                  <i class="bi bi-arrow-bar-right"></i>
                  <span>Iniciar sesion</span>
                </li>
                
                <li onClick="mostrarOcultarModalRegistrarse(); mostrarOcultarUsuarioPopup();">
                  <i class="bi bi-person"></i>
                  <span>Registrarse</span>
                </li>
                
                <li>
                  <i class="bi bi-basket"></i>
                  <span>Mis pedidos</span>
                </li>
              
                <li onClick="mostrarOcultarModalCerrarSesion(); mostrarOcultarUsuarioPopup();">
                  <i class="bi bi-arrow-bar-left"></i>
                  <span>Cerrar sesion</span>
                </li>
              </ul>
            </div>
          </span>
          
          <div class="modal modal_inicio_sesion">
            <div class="modal_backdrop" onclick="mostrarOcultarModalInicioSesion()"></div>
            <div class="modal_contenedor modal-sm">
              <div class="modal_header">
                <h1>Iniciar sesión</h1>
                <i class="bi bi-x" onclick="mostrarOcultarModalInicioSesion()"></i>
              </div>
              <div class="modal_body">
                <form>
                  <div class="form-group">
                    <label class="form-label">Correo electrónico:</label>
                    <input type="text" class="form-control" />
                  </div>
    
                  <div class="form-group">
                    <label class="form-label">Contraseña:</label>
                    <input type="text" class="form-control" />
                  </div>      
                </form>
              </div>
              <div class="modal_footer">
                <button class="btn btn-primary">Ingresar</button>
              </div>
            </div>
          </div>
          
          <div class="modal modal_registrarse">
            <div class="modal_backdrop" onclick="mostrarOcultarModalRegistrarse()"></div>
            <div class="modal_contenedor modal-sm">
              <div class="modal_header">
                <h1>Registrarse</h1>
                <i class="bi bi-x" onclick="mostrarOcultarModalRegistrarse()"></i>
              </div>
              <div class="modal_body">
                <form>
                  <div class="form-group">
                    <label class="form-label">Nombre usuario:</label>
                    <input type="text" class="form-control" />
                  </div>
                  
                  <div class="form-group">
                    <label class="form-label">Correo electrónico:</label>
                    <input type="text" class="form-control" />
                  </div>
    
                  <div class="form-group">
                    <label class="form-label">Contraseña:</label>
                    <input type="text" class="form-control" />
                  </div> 
                </form>     
              </div>
              <div class="modal_footer">
                <button class="btn btn-primary">Ingresar</button>                
              </div>
            </div>
          </div>
          
          <div class="modal modal_confirmacion modal_cerrar_sesion">
            <div class="modal_backdrop" onclick="mostrarOcultarModalCerrarSesion()"></div>
            <div class="modal_contenedor modal-sm">
              <div class="modal_header">
                <h1>Cerrar Sesión</h1>
                <i class="bi bi-x" onclick="mostrarOcultarModalCerrarSesion()"></i>
              </div>
              <div class="modal_body">
                <p class="texto-centrado">
                  ¿Está seguro que desea<br>
                  cerrar sesión?
                </p>
              </div>
              <div class="modal_footer">
                <button class="btn btn-primary">Aceptar</button>
                <button class="btn btn-secundario">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="header_secundario">
        <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3"> 
          <a href="../jugueteria/jugueteria.html">
            <i class="bi bi-truck-flatbed"></i> 
            <div>Juguetería</div>
          </a>
        </div>
        
        <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3 header_menu_secundario--seleccionado">
          <a href="../moda/moda.html">
            <i class="bi bi-screwdriver"></i> 
            <div>Moda</div>
          </a>
        </div>
        
        <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3">  
          <a href="../tecnologia/tecnologia.html">
            <i class="bi bi-laptop"></i> 
            <div>Tecnologia</div>
          </a>
        </div>
        
        <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <a href="../reposteria/reposteria.html">
            <i class="bi bi-life-preserver"></i>
            <div>Reposteria</div>
          </a>
        </div>
      </div>
    </header>
    
    <nav>
      <div class="nav_backdrop" onclick="colapsarExpandirMenu();"></div>
      <div class="nav_menu colapsado"> 
        <h2>Menú opciones</h2>
        <ul>
          <li>
            <a href="../jugueteria/jugueteria.html">
              <i class="bi bi-truck-flatbed"></i> Juguetería
              <span>&gt;</span>
            </a>
          </li>
          <li class="nav_menu--seleccionado">
            <a href="./moda.html">
              <i class="bi bi-screwdriver"></i> Moda
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../tecnologia/tecnologia.html">
              <i class="bi bi-laptop"></i> Tecnología
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../reposteria/reposteria.html">
              <i class="bi bi-life-preserver"></i> Repostería 
              <span>&gt;</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    <main>
      <div class="tarjetas">
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/carnivalxl.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Sombras</span><br>
            <span><b>Carnival xl</b></span>
            <p>Paleta de sombras 40 tonos de diversos colores </p>
            <span class="tarjeta2_body_precio">S/. 350</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/nars.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Base</span><br>
            <span><b>Nars </b></span>
            <p>Base de maquillaje de larga duracion con alta cobertura</p>
            <span class="tarjeta2_body_precio">S/. 100</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/casaca.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Casacas</span><br>
            <span><b>Casaca de cuero mujer</b></span>
            <p>Casaca de cuero color negro , doble cara . </p>
            <span class="tarjeta2_body_precio">S/. 400</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>    
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/barclayjeans.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Jean</span><br>
            <span><b>Jean mujer cullote</b></span>
            <p>Jean clasico con material 100% algodon</p>
            <span class="tarjeta2_body_precio">S/. 129</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/setdeanillos.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Anillos</span><br>
            <span><b>Twint set </b></span>
            <p>Anillo rose de 3 mm en plata de 925 + juego de aretes</p>
            <span class="tarjeta2_body_precio">S/. 199</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/sunglassesaesthetic.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Lentes</span><br>
            <span><b>Lentes de sol  </b></span>
            <p>lentes con proteccion uv + estuche + audifonos</p>
            <span class="tarjeta2_body_precio">S/. 399</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/reloj.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Reloj</span><br>
            <span><b>Reloj de mujer</b></span>
            <p>Fino reloj dolcce & gabanna</p>
            <span class="tarjeta2_body_precio">S/. 999</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/sandalias.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Sandalias</span><br>
            <span><b>Sandalias de verano</b></span>
            <p>Lindas sandalias color camello</p>
            <span class="tarjeta2_body_precio">S/. 399</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/arete.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Aretes</span><br>
            <span><b>Aretes de plata</b></span>
            <p>Aretes con acabados en plata de diferentes modelos</p>
            <span class="tarjeta2_body_precio">S/. 89</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/bota.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Botas</span><br>
            <span><b>Botas de cuero</b></span>
            <p>Botas de cuero de piel de lagarto con finos acabados</p>
            <span class="tarjeta2_body_precio">S/. 999</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/sombrero.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Sombrero</span><br>
            <span><b>Sombrero moderno de playa</b></span>
            <p>Lindo sombrero con excelentes acabados</p>
            <span class="tarjeta2_body_precio">S/. 150</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/labial.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Labial</span><br>
            <span><b>Labial mate  </b></span>
            <p>Sabor fresa y extra duracion</p>
            <span class="tarjeta2_body_precio">S/. 50</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
      </div>
      
      <div class="categorias">    
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="categorias_menu ">
            <img src="../../../assets/img/nars.jpg">
            <h1>Maquillaje</h1>
            <h2 onclick="mostrarOcultarModalCategoria('nars.jpg')">Ver foto</h2>       
          </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="categorias_menu">
            <img src="../../../assets/img/sandalias.jpg">
            <h1>Sandalias</h1>
            <h2 onclick="mostrarOcultarModalCategoria('sandalias.jpg')">Ver foto</h2>        
          </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="categorias_menu">
            <img src="../../../assets/img/sunglassesaesthetic.jpg">
            <h1>Accesorios</h1>
            <h2 onclick="mostrarOcultarModalCategoria('sunglassesaesthetic.jpg')">Ver foto</h2>        
          </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="categorias_menu">
            <img src="../../../assets/img/bota.jpg">
            <h1>Botas</h1>
            <h2 onclick="mostrarOcultarModalCategoria('bota.jpg')">Ver foto</h2>        
          </div>
        </div>  
          
        <div class="modal modal_categorias">
          <div class="modal_backdrop" onclick="mostrarOcultarModalCategoria()"></div>
          <div class="modal_contenedor modal-md">
            <div class="modal_header">
              <h1>Categoría</h1>
              <i class="bi bi-x" onclick="mostrarOcultarModalCategoria()"></i>
            </div>
            <div class="modal_body texto-centrado">
              <img src="../../../assets/img/galaxynote20.jpg">
            </div>
          </div>
        </div>
      </div>
      
      <div class="chat">
        <div class="chat_backdrop" onclick="mostrarOcultarChat();"></div>
        <div class="chat_popup">
          <div class="chat_popup_header">
            <i class="bi bi-messenger chat_logo" ></i>
            <h1 >Bodoquin</br><small>Siempre contigo</small></h1>
            <i class="bi bi-x chat_cerrar" onClick="mostrarOcultarChat()"></i>
          </div>
          <div class="chat_popup_body">
          </div>
          <div class="chat_popup_footer">
            <input type="text" required placeholder="¿En que te ayudamos?..."  />
            <i class="bi bi-arrow-right-circle"></i>
          </div>
        </div>
        <div class="chat_fab">
          <i class="bi bi-messenger" onclick="mostrarOcultarChat();"></i>
        </div>
      </div>
    </main>
    
    <footer>
           <div class="footer_access">
        <div class="footer_menu_secundario col-sm-6 col-md-6 col-lg-3 col-xl-3">           
          <i class="bi bi-house"></i> 
          <b>Recojo en<br>tienda<span>&nbsp;&gt;</span></b>    
        </div>
        
        <div class="footer_menu_secundario col-sm-6 col-md-6 col-lg-3 col-xl-3">          
          <i class="bi bi-truck"></i> 
          <b>Delivery<br>Programado<span>&nbsp;&gt;</span></b>    
        </div>
        
        <div class="footer_menu_secundario col-sm-6 col-md-6 col-lg-3 col-xl-3">      
          <i class="bi bi-bicycle"></i> 
          <b>Delivery<br>Express<span>&nbsp;&gt;</span></b>
        </div>
        
        <div class="footer_menu_secundario col-sm-6 col-md-6 col-lg-3 col-xl-3">      
          <i class="bi bi-cash-coin"></i> 
          <b>Método de<br>pago<span>&nbsp;&gt;</span></b>          
        </div>
      </div>
      
      <div class="footer_contacto">
        <h3>Comunícate con nosotros:</h3>
        <span>Lima: <b>(01) 625-8000</b></span>
        <br>
        <span>Provincia: <b> (+51)0800-00020</b></span>
      </div>
    
      <div class="footer_siganos">
        <h3>Siguenos en:</h3>
        <a href="https://web.facebook.com/" target="_blank" title="Facebook">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank" title="Youtube">
          <i class="bi bi-youtube"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" title="Twitter">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" title="Instagram">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </footer>
    <script src="./moda.js"></script>
  </body>
</html>
        