<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet"    href="./moda.css"/> 
       
    </head>
    <body>
    
  
    <header>
      <h1 class="titulo_principal" id="titulo_bodoquin"> 
        DANNYA'S STORE
      </h1/>
    </header>
    
    <main>
        <h1>
          <span>
            MAQUILLAJE
              <div class="burbuja tarjeta_burbuja">
              </div>
          </span>
        </h1>
      
      <table>
        <thead>
          <tr>
            <th>
             <a class="tarjeta_producto"
                target="_blank"><span> Paleta de Sombras </span></a> 
                
            </th>
            <th>
              <a 
                class="tarjeta_producto"
                target="blank"><span> Bases </span></a>
                 </th>
              </tr>
            </thead>
            <tbody>
               <tr>
                 <td>
                   <img
                    width="200px"
                  height="150px"
                  src="../../../assets/img/carnivalxl.jpg" />
                  </td>
                 <td>
                   <img 
                     width="200px" 
                     height="150px" 
                     src="../../../assets/img/nars.jpg" />
                 </td>
               </tr>
            </tbody>
          </table>
          
        </div>
          
          <br/><br/><br/>
      <div class="tarjeta">
        <h1>
          <span>
           MODA
              <div class="burbuja tarjeta_burbuja">
              </div>
              
            
          </span>
        </h1>
      <table>
        <thead>
          <tr>
            <th>    
             <a class="tarjeta_producto"
                target="_blank"><span> CASACAS </span></a> 
                     
            </th>
            <th>
              <a 
                class="tarjeta_producto"
                target="blank"><span> JEANS</span></a>
                 </th>
              </tr>
            </thead>
            <tbody>
               <tr>
                 <td>
                   <img
                    width="200px"
                  height="150px"
                  src="../../../assets/img/casaca.jpg" />
                  </td>
                 <td>
                   <img 
                     width="200px" 
                     height="150px" 
                     src="../../../assets/img/barclayjeans.jpg" />
                 </td>
               </tr>
            </tbody>
          </table>
          
        </div>
        <br/><br/><br/>
      <div class="tarjeta">
        <h1>
          <span> 
           ACCESORIOS
              <div class="burbuja tarjeta_burbuja">
              </div>
              
            
          </span>
        </h1>
      <table>
        <thead>
          <tr>
            <th>    
             <a class="tarjeta_producto"
                target="_blank"><span> ANILLOS </span></a> 
                     
            </th>
            <th>
              <a 
                class="tarjeta_producto"
                target="blank"><span> LENTES</span></a>
                 </th>
              </tr>
            </thead>
            <tbody>
               <tr>
                 <td>
                   <img
                    width="200px"
                  height="150px"
                  src="../../../assets/img/setdeanillos.jpg" />
                  </td>
                 <td>
                   <img 
                     width="200px" 
                     height="150px" 
                     src="../../../assets/img/sunglassesaesthetic.jpg" />
                 </td>
               </tr>
            </tbody>
          </table>
          
        </div>