<nav>
  <div class="nav_backdrop" *ngIf="isMenuOpen" (click)="colapsarMenu();"></div>
  <div class="nav_menu" [class.colapsado]="!isMenuOpen">
    <h2>Menú opciones</h2>
    <ul>
      <li>
        <a href="#/jugueteria">
          <i class="bi bi-truck-flatbed"></i> Juguetería
          <span>&gt;</span>
        </a>
      </li>
      <li>
        <a href="#/moda">
          <i class="bi bi-screwdriver"></i> Moda
          <span>&gt;</span>
        </a>
      </li>
      <li>
        <a href="#/tecnologia">
          <i class="bi bi-laptop"></i> Tecnología
          <span>&gt;</span>
        </a>
      </li>
      <li class="nav_menu--seleccionado">
        <a href="#/reposteria">
          <i class="bi bi-life-preserver"></i> Repostería 
          <span>&gt;</span>
        </a>
      </li>
    </ul>
  </div>
</nav>