.chat {
  
}

.chat .chat_popup {
  width: 250px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #ffffff;
  z-index: 2;
  border: 1px solid #cccccc;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  border-radius: 8px;
  opacity: 0;
  transform-origin: bottom right;
  height: 0;
}

.chat .chat_popup.chat_popup_in {
  animation-name: chat_popup_animacion_in;
  opacity: 1;
  animation-duration: 300ms;
}

.chat .chat_popup.chat_popup_out {
  animation-name: chat_popup_animacion_out;
  opacity: 0;
  animation-duration: 300ms;
}

@keyframes chat_popup_animacion_in {
  0% { 
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  100% { 
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes chat_popup_animacion_out {
  0% { 
    opacity: 1;
    transform: scale(1);
  }
  100% { 
    opacity: 0;
    transform: scale(0);
  }
}

.chat .chat_backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}

.chat .chat_header {
  text-align: left;
}

.chat .chat_header h1 {
  margin: 0;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  line-height: 15px;
  margin-left: 5px;
}

.chat .chat_header h1 small {
  color: #969595;
  font-size: 14px;
  margin-top: 3px;
  display: inline-block;
}

.chat .chat_header .chat_logo {
  font-size: 35px;
  vertical-align: middle;
  color: #696ce6;
}

.chat .chat_popup .chat_popup_body {
  height: 300px;
  width: 100%;
}

.chat .chat_popup .chat_popup_footer {
  padding: 10px;
  width: 100%;
  border-top: 1px solid #cccccc;
}

.chat .chat_popup .chat_popup_footer input {
  height: 30px;
  width: 187px;
  border: 1px solid #cccccc;
  padding-left: 10px;
  vertical-align: middle;
  border-radius: 15px;
}

.chat .chat_popup .chat_popup_footer i {
  font-size: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.chat .chat_fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 12px 28px rgb(0 0 0 / 20%);
  transition: transform 300ms;
}

.chat .chat_fab.chat_fab_in {
  transform: rotateX(196deg);
}

.chat .chat_fab i {
  font-size: 43px;
  color: #8a8df6;
  cursor: pointer;
  position: relative;
  top: -9px;
}

.chat .chat_fab i:hover {
  color: #696ce6;
}