<div class="jugueteria-listado">
  <bodoquin-jugueteria-ribbon></bodoquin-jugueteria-ribbon>
  <bodoquin-tarjetas-producto 
    [productos]="productos"
    fondo="#ffe00773"
    (onClickTarjeta)="onClickTarjeta($event)"
  ></bodoquin-tarjetas-producto>
  
  Usuario: <input type="text" name="usuario" [(ngModel)]="username"/>
  Nickname: <input type="text" name="nickname" [(ngModel)]="nickname"/>
  
  <bodoquin-jugueteria-servicios
    [usuario]="username"
    [nickname]="nickname"
  ></bodoquin-jugueteria-servicios>
</div>