<div class="jugueteria-listado">
  <bodoquin-jugueteria-centros-turisticos></bodoquin-jugueteria-centros-turisticos>
  <bodoquin-jugueteria-musica></bodoquin-jugueteria-musica>
  <bodoquin-jugueteria-comidas></bodoquin-jugueteria-comidas>
  <bodoquin-jugueteria-alumnos></bodoquin-jugueteria-alumnos>
  

  <!-- <bodoquin-tarjetas-producto  -->
    <!-- [productos]="productos" -->
    <!-- fondo="#ffe00773" -->
    <!-- (onClickTarjeta)="onClickTarjeta($event)" -->
  <!-- ></bodoquin-tarjetas-producto> -->
</div>