body {
  margin: 0;
}

@font-face {
  font-family: roboto;
  src: url(../../../assets/fonts/Roboto/Roboto-Light.ttf);
}

* {
  font-family: roboto;
  
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #80a3ea;
  z-index: 2;
  padding: 10px;
}

main {
  margin-top: 102px;
  padding-top: 10px;
}

h1 {
  color: red;
}

h3{
  color: red;
}

.titulo_principal {
  font-size: 24px;
  color: #ffffff;
}
    
.tarjeta {
  border: 1px solid #ccc;
  box-shadow: 6px -2px 12px 4px #ccc;
  padding: 10px;
  background-color: #9098b514;
  margin: 10px;
  border-radius: 24px;
  width: 446px;
  margin-top: 40px;
}
.tarjeta h1 span {
  border: 1px solid #ccc;
  box-shadow: inset -4px -2px 11px 6px #ccc;
  padding: 10px;
  background-color:  rgb(121 196 110 / 8%);
  margin: 10px;
  border-radius: 20px; 
}
.burbuja {
  width: 30px;
  height: 24px;
  background-color: blue;
  color: #ffffff;
  text-align: center;
  padding-top: 4px;
  border-radius: 50%;
}

.tarjeta h1 {
  color: green;
}
.tarjeta h1 span:hover {
  background-color: pink; 
}


.titulo h3 span:hover {
  background-color: pink; 
}
.tarjeta_burbuja:hover {
  background-color: red; 
}




.tarjeta h1 span{
  position: relative
}


.burbuja_principal{
  background-color: blue;
  position: absolute;
  top: 40px;
  left: 203px;
}
.tarjeta_burbuja{
  position: absolute;
  top: -9px;
  right: -19px;
  font-size: 17px;
}

  


input:focus{
  border: 1px red;
  width: 200px;
}

input:not(:disabled){
  border: 1px solid green 
}
.input_busqueda {
    color: #333!important;
    text-align: left;
    max-width: 100%;
    width: 55%;
    margin: 0 auto;
    height: 41px;
    font-size: 16px;
    background: #ecfcf4;
    border: none;
    border-radius: 30px;
    padding: 5px 15px 5px 12px;
    position: relative;
    font-weight: 400;
    text-shadow: none;
}
.input_busqueda {
    padding: 5px 15px 5px 19px;
    text-align: left;
}
