<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./tecnologia.css"/> 
    <link rel="stylesheet" href="../../../assets/icons/bootstrap/bootstrap-icons.css">
  </head>
  <body onscroll="detectarScroll()">
    <header>
      <div class="header_principal">
        <i class="bi bi-list header_menu" onclick="colapsarExpandirMenu();"></i>
        <h1 class="header_titulo">
          Repostería 
        </h1>
        <span class="header_busqueda">
          <input type="text" placeholder="HOLA ,¿QUE ESTAS BUSCANDO?">
          <i class="bi bi-search"></i>
        </span>
        <div class="header_acciones">
          <span class="header_acciones_notificacion">
            <i class="bi bi-bell-fill"></i>
            <div class="header_notificacion header_notificacion-principal">3</div>   
          </span>
          <i class="bi bi-person-fill"></i>
        </div>
      </div>
      
      <div class="header_secundario">
        <div class="header_menu_secundario"> 
          <a href="../Jugueteria/juguetes.html">
            <i class="bi bi-truck-flatbed"></i> 
            <div>Juguetería</div>
          </a>
        </div>
        
        <div class="header_menu_secundario">
          <a href="../moda/moda.html">
            <i class="bi bi-screwdriver"></i> 
            <div>Moda</div>
          </a>
        </div>
        
        <div class="header_menu_secundario header_menu_secundario--seleccionado">  
          <a href="../tecnologia/tecnologia.html">
            <i class="bi bi-laptop"></i> 
            <div>Tecnologia</div>
          </a>
        </div>
        
        <div class="header_menu_secundario">
          <a href="../reposteria/reposteria.html">
            <i class="bi bi-life-preserver"></i>
            <div>Reposteria</div>
          </a>
        </div>
      </div>
    </header>
         <nav class="colapsado">
      <div>
        <h2>Menú opciones</h2>
        <ul>
          <li>
            <a href="../Jugueteria/juguetes.html">
              <i class="bi bi-truck-flatbed"></i> Juguetería
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../moda/moda.html">
              <i class="bi bi-screwdriver"></i> Moda
              <span>&gt;</span>
            </a>
          </li>
          <li class="nav_menu--seleccionado">
            <a href="./tecnologia.html">
              <i class="bi bi-laptop"></i> Tecnología
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../reposteria/reposteria.html">
              <i class="bi bi-life-preserver"></i> Repostería 
              <span>&gt;</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    <main>
        <div class="tarjetas">
        <div class="tarjeta2">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/img_pastel_chocolate_fresa.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Torta húmeda</span><br>
            <span><b>Torta de leche de Óreo</b></span>
            <p>Torta rica en su sabor,  ha 
              ganado el premio internacional, 
              hecha con agua manantial</p>
            <span class="tarjeta2_body_precio">S/. 60.25</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/img_pastel_chocolate_fresa.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Torta húmeda</span><br>
            <span><b>Torta de leche de Óreo</b></span>
            <p>Torta rica en su sabor,  ha 
              ganado el premio internacional, 
              hecha con agua manantial</p>
            <span class="tarjeta2_body_precio">S/. 60.25</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
      </div>
      <span class="oferta"></span>
      <div class="tarjeta">
        <h1>
          <span>
            SAMSUNG GALAXY 
              <div class="burbuja tarjeta_burbuja">2</div>
          </span>
        </h1>
      
      <table>
        <thead>
          <tr>
            <th>    
              <a class="tarjeta_producto"
                 href="https://www.google.com/" 
                 target="_blank">
                <span>
                  galaxy s10
                </span>
              </a>
            </th>
            <th>
              <a class="tajeta_producto"
                 href="https://www.facebook.com/"
                 target="_blank">
                  <span>
                    galaxy note20
                  </span>
                 
              </a>
            
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img 
                  width="200px"
                  height="150px"
                  src="../../../assets/img/galaxys10.jpg" />
            </td>
            <td>
              <img
                  width="200px"
                  height="150px"
                  src="../../../assets/img/galaxynote20.jpg" />
            </td>
          </tr>
        </tbody>
      </table>
      </div>
        
        <br/><br/><br/>
      <div class="tarjeta">
        <h1>
          <span>
            MOTOROLA
              <div class="burbuja tarjeta_burbuja">2</div>
          </span>
        </h1>
      <table>
        <thead>
          <tr>
            <th>    
              <a class="tarjeta_producto"
                 href="https://www.google.com/" 
                 target="_blank">
                <span>
                  moto g9
                </span>
              </a>
            </th>
          
            <th>
              <a class="tajeta_producto"
                 href="https://www.facebook.com/"
                 target="_blank">
                  <span>
                    moto g7 power
                  </span>
              </a>
             </th>
          </tr>
        </thead> 
      <tbody>
        <tr>
          <td>
            <img
                width="200px"
                height="150px"
                src="../../../assets/img/motog9.jpg" />
          </td>
          <td>
            <img
                width="200px"
                height="150px"
                src="../../../assets/img/motog7power.jpg" />
          </td>
        </tr>
      </tbody>
      </table>
      
      </div>
      
      <div class="tarjeta">
        <h1>
          <span>
            IPHONE
              <div class="burbuja tarjeta_burbuja">2</div>
          </span>
        </h1>
      <table>
        <thead>
          <tr>
            <th>    
              <a class="tarjeta_producto"
                 href="https://www.google.com/" 
                 target="_blank">
                <span>
                  iphone 11pro
                </span>
              </a>
            </th>
          
            <th>
              <a class="tajeta_producto"
                 href="https://www.facebook.com/"
                 target="_blank">
                  <span>
                    iphone 12 pro 
                  </span>
              </a>
             </th>
          </tr>
        </thead> 
      <tbody>
        <tr>
          <td>
            <img
                width="200px"
                height="150px"
                src="../../../assets/img/iphone11pro.jpg" />
          </td>
          <td>
            <img
                width="200px"
                height="150px"
                src="../../../assets/img/iphone12pro.jpg" />
          </td>
        </tr>
      </tbody>
      </table>
      
      </div>
      
      <div class="tarjeta">
        <h1>
          <span>
           PEDIDO<div class="burbuja burbuja_principal">1</div>
          </span>
        </h1>
        
        <form>
          <label>Equipo movil:* </label>
            <input name="equipo_movil" type="text" required placeholder="ingrese equipo movil..."  />

          <br/>
          <label>Cantidad:* </label>
            <input name="cantidad" type="number" required required placeholder="ingrese cantidad.."/>

          <br/>
          <label>Email:* </label>
            <input name="email" type="email" required required placeholder="ingrese email..." />

          <br/>

          <label>Departamento: </label>
            <select name="departamento">
              <option>LIMA</option>
              <option>AREQUIPA</option>
              <option>PIURA</option>
              <option>TACNA</option>
              <option>LAMBAYEQUE</option>
              <option>TRUJILLO</option>
              <option>IQUITOS</option>
              <option>ANCASH</option>
              <option>AYACUCHO</option>
              <option>JUNIN</option>
            </select>

          <br/>

          <label>Provincia: </label>
            <select name="provincia">
              <option>LIMA</option>
              <option>HUARAL</option>
              <option>MALA</option>
              <option>PUNTA HERMOSA</option>
              <option>PISCO</option>
              <option>CHINCHA</option>
              <option>CHNCAY</option>
              <option>CALLAO</option>
            </select>

          <br/>

          <label>Distrito: </label>
            <select name="distrito">
              <option>VILLA MARIA DEL TRIUNFO</option>
              <option>SAN JUAN DE MIRAFLORES</option>
              <option>INDEPENDENCIA</option>
              <option>SAN MIGUEL</option>
              <option>JESUS MARIA</option>
              <option>MIRAFLORES</option>
              <option>SAN ISIDRO</option>
              <option>CHORRILLOS</option>
              <option>BREÑA</option>
              <option>PUEBLO LIBRE</option>
              <option>SURQUILLO</option>
              <option>COMAS</option>
              <option>LA MOLINA</option>
              <option>VILLA EL SALVADOR</option>
              <option>EL AGUSTINO</option>
              <option>ATE</option>
              <option>SAMTA ANITA</option>
            </select>

          <br/>

          <label>Comentarios: </label>
            <textarea name="comentarios"></textarea> 

          <br/><br/>
          <button type="reset">borrar</button>
          <button type="button" onClick="realizarPedido();">Realizar pedido</button>
        </form>
      </div>
      
      
      <div class="tarjeta">
        <h1>
          <span>
          REGISTRO USUARIO<div class="burbuja burbuja_principal">1</div>
          
          </span>
        </h1>
          <form>
            <label>Usuario</LABEL>
            <input type="text" required placeholder="Ingrese usuario.."/>
            
            <br/>
            
            <label>Email</label>
            <input type="email" required placeholder="example@gmail.com"/>
            
            <br/>
            
            <label>Contraseña</label>
            <input type="password" required required placeholder="***********"/>
            
            <br/>
           
            <button type="reset">borrar</button>
            <button type="button" onClick="realizarPedido();">Realizar pedido</button>
          </form>
          
      </div>
          

    </main>
      <footer>
        <div class="footer_contacto">
          <h3>Comunícate con nosotros:</h3>
          <span>Lima: <b>(01) 625-8000</b></span>
          <br>
          <span>Provincia: <b> (+51)0800-00020</b></span>
        </div>
      
        <div class="footer_siganos">
          <h3>Siguenos en:</h3>
          <a href="https://web.facebook.com/" target="_blank" title="Facebook">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.youtube.com/" target="_blank" title="Youtube">
            <i class="bi bi-youtube"></i>
          </a>
          <a href="https://twitter.com/" target="_blank" title="Twitter">
            <i class="bi bi-twitter"></i>
          </a>
          <a href="https://www.instagram.com/" target="_blank" title="Instagram">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
    </footer>
    
    <script src="./tecnologia.js"></script>   
  </body>
</html>