<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet"    href="./proyecto1.css"/> 
       
    </head>
  <body>
    
  
    <header>
      <h1 class="titulo_principal" id="titulo_bodoquin"> 
        DISPOSITIVOS MOVILES
      </h1/>
    </header>
    
    <main>
      <div class="tarjeta">
        <h1>
          <span>
            SAMSUNG GALAXY 
              <div class="burbuja tarjeta_burbuja">
              </div>
          </span>
        </h1>
      
      <table>
        <thead>
          <tr>
            <th>    
              <a class="tarjeta_producto"
                 href="https://www.google.com/" 
                 target="_blank">
                <span>
                  galaxy s10
                </span>
              </a>
            </th>
            <th>
              <a class="tajeta_producto"
                 href="https://www.facebook.com/"
                 target="_blank">
                  <span>
                    galaxy note20
                  </span>
                 
              </a>
            
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img 
                  width="200px"
                  height="150px"
                  src="../../../assets/img/galaxys10.jpg" />
            </td>
            <td>
              <img
                  width="200px"
                  height="150px"
                  src="../../../assets/img/galaxynote20.jpg" />
            </td>
          </tr>
        </tbody>
      </table>
      </div>
        
        <br/><br/><br/>
      <div class="tarjeta">
        <h1>
          <span>
            MOTOROLA
              <div class="burbuja tarjeta_burbuja">
              </div>
              
            
          </span>
        </h1>
      <table>
        <thead>
          <tr>
            <th>    
              <a class="tarjeta_producto"
                 href="https://www.google.com/" 
                 target="_blank">
                <span>
                  moto g9
                </span>
              </a>
            </th>
          
            <th>
              <a class="tajeta_producto"
                 href="https://www.facebook.com/"
                 target="_blank">
                  <span>
                    moto g7 power
                  </span>
              </a>
             </th>
          </tr>
        </thead> 
      <tbody>
        <tr>
          <td>
            <img
                width="200px"
                height="150px"
                src="../../../assets/img/motog9.jpg" />
          </td>
          <td>
            <img
                width="200px"
                height="150px"
                src="../../../assets/img/motog7power.jpg" />
          </td>
        </tr>
      </tbody>
      </table>
      
      </div>
      
      <div class="tarjeta">
        <h1>
          <span>
            IPHONE
              <div class="burbuja tarjeta_burbuja">
              </div>
          </span>
        </h1>
      <table>
        <thead>
          <tr>
            <th>    
              <a class="tarjeta_producto"
                 href="https://www.google.com/" 
                 target="_blank">
                <span>
                  iphone 11pro
                </span>
              </a>
            </th>
          
            <th>
              <a class="tajeta_producto"
                 href="https://www.facebook.com/"
                 target="_blank">
                  <span>
                    iphone 12 pro 
                  </span>
              </a>
             </th>
          </tr>
        </thead> 
      <tbody>
        <tr>
          <td>
            <img
                width="200px"
                height="150px"
                src="../../../assets/img/iphone11pro.jpg" />
          </td>
          <td>
            <img
                width="200px"
                height="150px"
                src="../../../assets/img/iphone12pro.jpg" />
          </td>
        </tr>
      </tbody>
      </table>
      
      </div>
      
      <div class="tarjeta">
        <h1>
          <span>
           PEDIDO
          </span>
        </h1>
        
        <form>
          <label>Equipo movil:* </label>
            <input name="equipo_movil" type="text" required placeholder="ingrese equipo movil..."  />

          <br/>
          <label>Cantidad:* </label>
            <input name="cantidad" type="number" required required placeholder="ingrese cantidad.."/>

          <br/>
          <label>Email:* </label>
            <input name="email" type="email" required required placeholder="ingrese email..." />

          <br/>

          <label>Departamento: </label>
            <select name="departamento">
              <option>LIMA</option>
              <option>AREQUIPA</option>
              <option>PIURA</option>
              <option>TACNA</option>
              <option>LAMBAYEQUE</option>
              <option>TRUJILLO</option>
              <option>IQUITOS</option>
              <option>ANCASH</option>
              <option>AYACUCHO</option>
              <option>JUNIN</option>
            </select>

          <br/>

          <label>Provincia: </label>
            <select name="provincia">
              <option>LIMA</option>
              <option>HUARAL</option>
              <option>MALA</option>
              <option>PUNTA HERMOSA</option>
              <option>PISCO</option>
              <option>CHINCHA</option>
              <option>CHNCAY</option>
              <option>CALLAO</option>
            </select>

          <br/>

          <label>Distrito: </label>
            <select name="distrito">
              <option>VILLA MARIA DEL TRIUNFO</option>
              <option>SAN JUAN DE MIRAFLORES</option>
              <option>INDEPENDENCIA</option>
              <option>SAN MIGUEL</option>
              <option>JESUS MARIA</option>
              <option>MIRAFLORES</option>
              <option>SAN ISIDRO</option>
              <option>CHORRILLOS</option>
              <option>BREÑA</option>
              <option>PUEBLO LIBRE</option>
              <option>SURQUILLO</option>
              <option>COMAS</option>
              <option>LA MOLINA</option>
              <option>VILLA EL SALVADOR</option>
              <option>EL AGUSTINO</option>
              <option>ATE</option>
              <option>SAMTA ANITA</option>
            </select>

          <br/>

          <label>Comentarios: </label>
            <textarea name="comentarios"></textarea> 

          <br/><br/>
          <button type="reset">borrar</button>
          <button type="button" onClick="realizarPedido();">Realizar pedido</button>
        </form>
      </div>
      
      
      <div class="tarjeta">
        <h1>
          <span>
          REGISTRO USUARIO
          
          </span>
        </h1>
          <form>
            <label>Usuario</LABEL>
            <input type="text" required placeholder="Ingrese usuario.."/>
            
            <br/>
            
            <label>Email</label>
            <input type="email" required placeholder="example@gmail.com"/>
            
            <br/>
            
            <label>Contraseña</label>
            <input type="password" required required placeholder="***********"/>
            
            <br/>
           
            <button type="reset">borrar</button>
            <button type="button" onClick="realizarPedido();">Realizar pedido</button>
          </form>
          
      </div>
          

    </main>
  </body>
</html>