<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./tecnologia.css"/> 
    <link rel="stylesheet" href="../../../assets/icons/bootstrap/bootstrap-icons.css">
  </head>
  <body onscroll="detectarScroll()">
    <header>
      <div class="header_principal">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <i class="bi bi-list header_menu" onclick="colapsarExpandirMenu();"></i>
          <h1 class="header_titulo">
            <a href="../inicio/inicio.html">Inicio</a>
          </h1>
          <span class="header_busqueda">
            <input type="text" placeholder="HOLA ,¿QUE ESTAS BUSCANDO?">
            <i class="bi bi-search"></i>
          </span>
        </div>
        <div class="header_acciones col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <span class="header_acciones_carrito">
            <i class="bi bi-cart-check" onclick="mostrarOcultarPopup('.popup_carrito');"></i>
            <div class="header_notificacion header_notificacion-principal">3</div>   
            
            <div class="popup popup_carrito">
              <div class="popup_backdrop" onclick="mostrarOcultarPopup('.popup_carrito');"></div>
              <div class="popup_flecha"></div>
              <div class="popup_contenedor">
                <div class="popup_header">
                  titulo
                </div>
                <div class="popup_body">
                  
                </div>
                <div class="popup_footer">
                  <button class="btn btn-primary">Continuar</button>
                </div>
              </div>
            </div>
          </span>
          
          <span class="header_acciones_usuario">              
            <i class="bi bi-person-fill" onclick="mostrarOcultarUsuarioPopup();"></i>
            <div class="header_acciones_usuario_backdrop" onclick="mostrarOcultarUsuarioPopup();"></div>            
            <div class="header_acciones_usuario_flecha"></div>            
            <div class="header_acciones_usuario_popup">
              <ul>
                <li onClick="mostrarOcultarModalInicioSesion(); mostrarOcultarUsuarioPopup();">
                  <i class="bi bi-arrow-bar-right"></i>
                  <span>Iniciar sesion</span>
                </li>
                
                <li onClick="mostrarOcultarModalRegistrarse(); mostrarOcultarUsuarioPopup();">
                  <i class="bi bi-person"></i>
                  <span>Registrarse</span>
                </li>
                
                <li>
                  <i class="bi bi-basket"></i>
                  <span>Mis pedidos</span>
                </li>
              
                <li onClick="mostrarOcultarModalCerrarSesion(); mostrarOcultarUsuarioPopup();">
                  <i class="bi bi-arrow-bar-left"></i>
                  <span>Cerrar sesion</span>
                </li>
              </ul>
            </div>
          </span>
          
          <div class="modal modal_inicio_sesion">
            <div class="modal_backdrop" onclick="mostrarOcultarModalInicioSesion()"></div>
            <div class="modal_contenedor modal-sm">
              <div class="modal_header">
                <h1>Iniciar sesión</h1>
                <i class="bi bi-x" onclick="mostrarOcultarModalInicioSesion()"></i>
              </div>
              <div class="modal_body">
                <form>
                  <div class="form-group">
                    <label class="form-label">Correo electrónico:</label>
                    <input type="text" class="form-control" />
                  </div>
    
                  <div class="form-group">
                    <label class="form-label">Contraseña:</label>
                    <input type="text" class="form-control" />
                  </div>      
                </form>
              </div>
              <div class="modal_footer">
                <button class="btn btn-primary">Ingresar</button>
              </div>
            </div>
          </div>
          
          <div class="modal modal_registrarse">
            <div class="modal_backdrop" onclick="mostrarOcultarModalRegistrarse()"></div>
            <div class="modal_contenedor modal-sm">
              <div class="modal_header">
                <h1>Registrarse</h1>
                <i class="bi bi-x" onclick="mostrarOcultarModalRegistrarse()"></i>
              </div>
              <div class="modal_body">
                <form>
                  <div class="form-group">
                    <label class="form-label">Nombre usuario:</label>
                    <input type="text" class="form-control" />
                  </div>
                  
                  <div class="form-group">
                    <label class="form-label">Correo electrónico:</label>
                    <input type="text" class="form-control" />
                  </div>
    
                  <div class="form-group">
                    <label class="form-label">Contraseña:</label>
                    <input type="text" class="form-control" />
                  </div> 
                </form>     
              </div>
              <div class="modal_footer">
                <button class="btn btn-primary">Ingresar</button>                
              </div>
            </div>
          </div>
          
          <div class="modal modal_confirmacion modal_cerrar_sesion">
            <div class="modal_backdrop" onclick="mostrarOcultarModalCerrarSesion()"></div>
            <div class="modal_contenedor modal-sm">
              <div class="modal_header">
                <h1>Cerrar Sesión</h1>
                <i class="bi bi-x" onclick="mostrarOcultarModalCerrarSesion()"></i>
              </div>
              <div class="modal_body">
                <p class="texto-centrado">
                  ¿Está seguro que desea<br>
                  cerrar sesión?
                </p>
              </div>
              <div class="modal_footer">
                <button class="btn btn-primary">Aceptar</button>
                <button class="btn btn-secundario">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="header_secundario">
        <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3"> 
          <a href="../jugueteria/jugueteria.html">
            <i class="bi bi-truck-flatbed"></i> 
            <div>Juguetería</div>
          </a>
        </div>
        
        <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <a href="../moda/moda.html">
            <i class="bi bi-screwdriver"></i> 
            <div>Moda</div>
          </a>
        </div>
        
        <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3 header_menu_secundario--seleccionado">  
          <a href="../tecnologia/tecnologia.html">
            <i class="bi bi-laptop"></i> 
            <div>Tecnologia</div>
          </a>
        </div>
        
        <div class="header_menu_secundario col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <a href="../reposteria/reposteria.html">
            <i class="bi bi-life-preserver"></i>
            <div>Reposteria</div>
          </a>
        </div>
      </div>
    </header>
    
    <nav>
      <div class="nav_backdrop" onclick="colapsarExpandirMenu();"></div>
      <div class="nav_menu colapsado">
        <h2>Menú opciones</h2>
        <ul>
          <li>
            <a href="../jugueteria/jugueteria.html">
              <i class="bi bi-truck-flatbed"></i> Juguetería
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../moda/moda.html">
              <i class="bi bi-screwdriver"></i> Moda
              <span>&gt;</span>
            </a>
          </li>
          <li class="nav_menu--seleccionado">
            <a href="./tecnologia.html">
              <i class="bi bi-laptop"></i> Tecnología
              <span>&gt;</span>
            </a>
          </li>
          <li>
            <a href="../reposteria/reposteria.html">
              <i class="bi bi-life-preserver"></i> Repostería 
              <span>&gt;</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    <main class="ajuste">
      <div class="tarjetas">
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/galaxys10.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Samsung</span><br>
            <span><b>Samsung galaxy s10</b></span>
            <p>6 GB RAM + 128 gb almacenamiento + 5000 mah + full hd</p>
            <span class="tarjeta2_body_precio">S/. 1599</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/galaxynote20.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Samsung</span><br>
            <span><b>Samsung galaxy note20</b></span>
            <p>8 GB RAM + 256 gb almacenamiento + 6000 mah + full hd</p>
            <span class="tarjeta2_body_precio">S/. 2499</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/motog9.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Motorola</span><br>
            <span><b>Motorola g9 plus</b></span>
            <p>3 GB RAM + 64 gb almacenamiento + 3500 mah + full hd</p>
            <span class="tarjeta2_body_precio">S/. 999</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
          
          
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/motog7power.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Motorola</span><br>
            <span><b>Motorola g7 power</b></span>
            <p>3 GB RAM + 64 gb almacenamiento + 4500 mah + hd</p>
            <span class="tarjeta2_body_precio">S/. 899</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/samsungtv50.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Samsung tv</span><br>
            <span><b>Samsung tv 50"</b></span>
            <p>Full hd + puerto hdmi + magic control</p>
            <span class="tarjeta2_body_precio">S/. 1899</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/samsungtv65.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>SamsungTv</span><br>
            <span><b>Samsung tv 65"</b></span>
            <p>Ultra hd 4k + pantalla cristal + magic control</p>
            <span class="tarjeta2_body_precio">S/. 2899</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/samsungtv70.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>SamsungTv</span><br>
            <span><b>Samsung tv 70"</b></span>
            <p>Ultra hd + 2 puertos hdmi + conxion bluetooh</p>
            <span class="tarjeta2_body_precio">S/. 2659</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/daeewotv.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>DaeewooTv</span><br>
            <span><b>Daeewoo tv 49"</b></span>
            <p>Pantalla full hd + wifi + samart tv </p>
            <span class="tarjeta2_body_precio">S/. 899</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/laptophpgaming.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Asus</span><br>
            <span><b>Laptop gaming asus</b></span>
            <p>16gb ram + 1tb ssd + full hd </p>
            <span class="tarjeta2_body_precio">S/. 7999</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/macbookair.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>Apple</span><br>
            <span><b>Macbook air </b></span>
            <p>8 gb ram + 500 ssd + bluetooh</p>
            <span class="tarjeta2_body_precio">S/. 1899</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/laptophp15.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>HP</span><br>
            <span><b>Laptop hp 15"</b></span>
            <p>8gb ram + 1 tb ssd + full hd</p>
            <span class="tarjeta2_body_precio">S/. 2600</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
        
        <div class="tarjeta2 col-xl-3 col-lg-4 col-md-6 col-sm-12">             
          <div class="tarjeta2_header">         
            <img src="../../../assets/img/laptoplg.jpg">
          </div>
          <div class="tarjeta2_body">      
            <span>LG</span><br>
            <span><b>Laptop lg </b></span>
            <p>12 GB RAM + 528 gb almacenamiento + uhd 4k</p>
            <span class="tarjeta2_body_precio">S/. 2589</span>
          </div>
          
          <div class="tarjeta2_footer">
            <button type="button">AGREGAR</button>
          </div>
        </div>
      </div>
     
      <!-- <div class="tarjeta"> -->
        <!-- <h1> -->
          <!-- <span> -->
           <!-- PEDIDO<div class="burbuja burbuja_principal">1</div> -->
          <!-- </span> -->
        <!-- </h1> -->
        
        <!-- <form> -->
          <!-- <label>Equipo movil:* </label> -->
            <!-- <input name="equipo_movil" type="text" required placeholder="ingrese equipo movil..."  /> -->

          <!-- <br/> -->
          <!-- <label>Cantidad:* </label> -->
            <!-- <input name="cantidad" type="number" required required placeholder="ingrese cantidad.."/> -->

          <!-- <br/> -->
          <!-- <label>Email:* </label> -->
            <!-- <input name="email" type="email" required required placeholder="ingrese email..." /> -->

          <!-- <br/> -->

          <!-- <label>Departamento: </label> -->
            <!-- <select name="departamento"> -->
              <!-- <option>LIMA</option> -->
              <!-- <option>AREQUIPA</option> -->
              <!-- <option>PIURA</option> -->
              <!-- <option>TACNA</option> -->
              <!-- <option>LAMBAYEQUE</option> -->
              <!-- <option>TRUJILLO</option> -->
              <!-- <option>IQUITOS</option> -->
              <!-- <option>ANCASH</option> -->
              <!-- <option>AYACUCHO</option> -->
              <!-- <option>JUNIN</option> -->
            <!-- </select> -->

          <!-- <br/> -->

          <!-- <label>Provincia: </label> -->
            <!-- <select name="provincia"> -->
              <!-- <option>LIMA</option> -->
              <!-- <option>HUARAL</option> -->
              <!-- <option>MALA</option> -->
              <!-- <option>PUNTA HERMOSA</option> -->
              <!-- <option>PISCO</option> -->
              <!-- <option>CHINCHA</option> -->
              <!-- <option>CHNCAY</option> -->
              <!-- <option>CALLAO</option> -->
            <!-- </select> -->

          <!-- <br/> -->

          <!-- <label>Distrito: </label> -->
            <!-- <select name="distrito"> -->
              <!-- <option>VILLA MARIA DEL TRIUNFO</option> -->
              <!-- <option>SAN JUAN DE MIRAFLORES</option> -->
              <!-- <option>INDEPENDENCIA</option> -->
              <!-- <option>SAN MIGUEL</option> -->
              <!-- <option>JESUS MARIA</option> -->
              <!-- <option>MIRAFLORES</option> -->
              <!-- <option>SAN ISIDRO</option> -->
              <!-- <option>CHORRILLOS</option> -->
              <!-- <option>BREÑA</option> -->
              <!-- <option>PUEBLO LIBRE</option> -->
              <!-- <option>SURQUILLO</option> -->
              <!-- <option>COMAS</option> -->
              <!-- <option>LA MOLINA</option> -->
              <!-- <option>VILLA EL SALVADOR</option> -->
              <!-- <option>EL AGUSTINO</option> -->
              <!-- <option>ATE</option> -->
              <!-- <option>SAMTA ANITA</option> -->
            <!-- </select> -->

          <!-- <br/> -->

          <!-- <label>Comentarios: </label> -->
            <!-- <textarea name="comentarios"></textarea>  -->

          <!-- <br/><br/> -->
          <!-- <button type="reset">borrar</button> -->
          <!-- <button type="button" onClick="realizarPedido();">Realizar pedido</button> -->
        <!-- </form> -->
      <!-- </div> -->
      
      
      <!-- <div class="tarjeta"> -->
        <!-- <h1> -->
          <!-- <span> -->
          <!-- REGISTRO USUARIO<div class="burbuja burbuja_principal">1</div> -->
          
          <!-- </span> -->
        <!-- </h1> -->
          <!-- <form> -->
            <!-- <label>Usuario</LABEL> -->
            <!-- <input type="text" required placeholder="Ingrese usuario.."/> -->
            
            <!-- <br/> -->
            
            <!-- <label>Email</label> -->
            <!-- <input type="email" required placeholder="example@gmail.com"/> -->
            
            <!-- <br/> -->
            
            <!-- <label>Contraseña</label> -->
            <!-- <input type="password" required required placeholder="***********"/> -->
            
            <!-- <br/> -->
           
            <!-- <button type="reset">borrar</button> -->
            <!-- <button type="button" onClick="realizarPedido();">Realizar pedido</button> -->
          <!-- </form> -->
          
      <!-- </div> -->
      
      <div class="categorias">    
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="categorias_menu ">
            <img src="../../../assets/img/galaxynote20.jpg">
            <h1>Moviles</h1>
            <h2 onclick="mostrarOcultarModalCategoria('galaxynote20.jpg')">Ver foto</h2>       
          </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="categorias_menu">
            <img src="../../../assets/img/laptophpgaming.jpg">
            <h1>Laptops</h1>
            <h2 onclick="mostrarOcultarModalCategoria('laptophpgaming.jpg')">Ver foto</h2>        
          </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="categorias_menu">
            <img src="../../../assets/img/samsungtv70.jpg">
            <h1>Televisores</h1>
            <h2 onclick="mostrarOcultarModalCategoria('samsungtv70.jpg')">Ver foto</h2>        
          </div>
        </div>
        
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
          <div class="categorias_menu">
            <img src="../../../assets/img/galaxynote20.jpg">
            <h1>Tablets</h1>
            <h2 onclick="mostrarOcultarModalCategoria('galaxynote20.jpg')">Ver foto</h2>        
          </div>
        </div>  
          
        <div class="modal modal_categorias">
          <div class="modal_backdrop" onclick="mostrarOcultarModalCategoria()"></div>
          <div class="modal_contenedor modal-md">
            <div class="modal_header">
              <h1>Categoría</h1>
              <i class="bi bi-x" onclick="mostrarOcultarModalCategoria()"></i>
            </div>
            <div class="modal_body texto-centrado">
              <img src="../../../assets/img/galaxynote20.jpg">
            </div>
          </div>
        </div>
      </div>
      
      <div class="chat">
        <div class="chat_backdrop" onclick="mostrarOcultarChat();"></div>
        <div class="chat_popup">
          <div class="chat_popup_header">
            <i class="bi bi-messenger chat_logo" ></i>
            <h1 >Bodoquin</br><small>Siempre contigo</small></h1>
            <i class="bi bi-x chat_cerrar" onClick="mostrarOcultarChat()"></i>
          </div>
          <div class="chat_popup_body">
          </div>
          <div class="chat_popup_footer">
            <input type="text" required placeholder="¿En que te ayudamos?..."  />
            <i class="bi bi-arrow-right-circle"></i>
          </div>
        </div>
        <div class="chat_fab">
          <i class="bi bi-messenger" onclick="mostrarOcultarChat();"></i>
        </div>
      </div>
      
    </main>
      
    <footer>
      <div class="footer_access">
        <div class="footer_menu_secundario col-sm-6 col-md-6 col-lg-3 col-xl-3">           
          <i class="bi bi-house"></i> 
          <b>Recojo en<br>tienda<span>&nbsp;&gt;</span></b>    
        </div>
        
        <div class="footer_menu_secundario col-sm-6 col-md-6 col-lg-3 col-xl-3">          
          <i class="bi bi-truck"></i> 
          <b>Delivery<br>Programado<span>&nbsp;&gt;</span></b>    
        </div>
        
        <div class="footer_menu_secundario col-sm-6 col-md-6 col-lg-3 col-xl-3">      
          <i class="bi bi-bicycle"></i> 
          <b>Delivery<br>Express<span>&nbsp;&gt;</span></b>
        </div>
        
        <div class="footer_menu_secundario col-sm-6 col-md-6 col-lg-3 col-xl-3">      
          <i class="bi bi-cash-coin"></i> 
          <b>Método de<br>pago<span>&nbsp;&gt;</span></b>          
        </div>
      </div>
      
      <div class="footer_contacto">
        <h3>Comunícate con nosotros:</h3>
        <span>Lima: <b>(01) 625-8000</b></span>
        <br>
        <span>Provincia: <b> (+51)0800-00020</b></span>
      </div>
    
      <div class="footer_siganos">
        <h3>Siguenos en:</h3>
        <a href="https://web.facebook.com/" target="_blank" title="Facebook">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank" title="Youtube">
          <i class="bi bi-youtube"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" title="Twitter">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" title="Instagram">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </footer>
    
    <script src="./tecnologia.js"></script>   
  </body>
</html>